.listSection {
  width: 80%;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .listSection {
    width: 100%;
    font-size: 0.9rem;
  }
}
.list {
  margin-bottom: 20px;
}
.listItem {
}
.listItem:hover {
  background: #f2f2f2;
}
.listItem a {
  display: flex;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
}
.listField {
  display: block;
  box-sizing: border-box;
}
.fieldIndex {
  width: 33px;
  margin-right: 10px;
  padding: 2px 0;
  align-self: center;
  font-size: 0.7rem;
  text-align: center;
  background: #f2f2f2;
  border-radius: 5px;
  color: #555;
}
.fieldName {
  width: 25%;
}
.fieldDistance {
  width: 60px;
  margin-right: 30px;
  text-align: right;
}
.fieldLocation {
  width: 25%;
}
.fieldComment {
  width: 40%;
  overflow: hidden;
  font-size: 0.8rem;
}
.morebutton {
  /*width: 100%;*/
  display: block;
  margin: auto;
  padding: 7px 15px;
  background: #EEE;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  outline: 0;
}
