.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.title {
  position: relative;
  display: inline-block;
  font-size: 5rem;
}
.title:after {
  content: '';
  position: absolute;
  left: -120px;
  top: -10px;
  width: 100px;
  height: 100px;
  background: url('/static/images/icon404.svg') no-repeat;
  background-size: contain;
}
.ssmblock {
  margin-top: 15px;
}
.ssmlink {
  margin-right: 30px;
}
.ssmlink:last-child {
  margin-right: 0;
}
