.stats-container {}
.stats-head {}
.stats-header {}
.stats-list {
  width: 300px;
  height: 300px;
  padding-top: 10px;
  overflow: auto;
}
@media screen and (max-width: 600px) {
  .stats-list {
    width: 100%;
  }
}
.stats-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-right: 10px;
}
.stats-filter {
  display: flex;
}
.stats-filter li {
  width: 50%;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}
.stats-filter li.active {
  border-bottom: 5px solid #145493;
}
