.section-stats {

}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  position: relative;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 15px;
  margin-right: 20px;
  vertical-align: top;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(20, 84, 147, 0.09);
}
@media screen and (max-width: 600px) {
  .item {
    max-width: 100%;
  }
}

.item.fullWidth {
  max-width: 100%;
}

.itemHead {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 3px;
  /*border-bottom: 1px solid #145493;*/
  font-size: 0.85rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.itemContent.small {
  font-size: 1rem;
  font-weight: normal;
}

.item div {
  font-size: 0.9rem;
}

.unit {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.tempBlock {
  display: inline-block;
  padding: 0 10px;
  text-align: left;
}

.tempBlock.cold {
  color: #145493;
}

.tempBlock.warm {
  color: #d65104;
}

.tempLabel {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}
