body {padding: 0px; margin: 10px; margin-top: 20px; color: #333333; font-family: georgia; font-size: 16px; line-height: 22px;}
.clear {clear: both;}

.h1 {font-size: 20px; line-height: 20px; color: #c00;}
.h2 {}

.key {width: 150px; float: left;}
.value {width: 150px; float: left;}


