doctype html
html(prefix="og: http://ogp.me/ns#" lang=lang)
  head
    meta(charset="utf-8")
    title Побегай 1-го января
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    include partial/prefetch
    if inlineCss
        style !{inlineCss}
    link(href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic" rel="stylesheet")
    link(href="/static/dist/"+manifest["main.css"] rel="stylesheet" crossorigin="anonymous")
    include partial/social
    link(href="/static/manifest."+lang+".json" rel="manifest")
    include partial/stat

  body
    div(id="root" class="root") !{html}
    script.
      window.__INITIAL_STATE__ = !{initialState};
    script(src="/static/dist/"+manifest["runtime.js"] crossorigin="anonymous")
    script(src="/static/dist/"+manifest["vendor.js"] crossorigin="anonymous")
    script(src="/static/dist/"+manifest["main.js"] crossorigin="anonymous")
