.map-container {
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
}
.map {
  height: 100%;
}
.weather-icon {
  vertical-align:middle;
  margin-right:-3px
}
.map-list {
  position: absolute;
  right: 15px;
  top: 100px;
  width: 230px;
  height: 300px;
  padding: 10px 5px 10px 10px;
  overflow: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0 0 10px #CCC;
}
.map-list .comment {
  position: relative;
  margin-bottom: 7px;
  padding: 4px 5px;
  font-size: 0.75rem;
  background-color: #ddd;
  border-radius: 4px;
  word-break: break-all;
}
.map-list .comment:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 15px;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px solid transparent;
  border-top-color: #ddd;
}
.map-list h1 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  border-bottom: 1px solid #EEE;
}
.map-list li {
  margin-bottom: 9px;
  font-size: 0.9rem;
  font-family: Arial;
}
