.header-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.91);
}

.header-container video {
  position: absolute;
}

@media (min-aspect-ratio: 16/9) {
  .header-container video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .header-container video {
    width: auto;
    height: 100%;
  }
}

.header-moto {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  left: 15px;
  top: 10vh;
  bottom: 10vh;
  color: #FFF;
  z-index: 3;
  counter-reset: section;
}

.header-moto li {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-right: 20px;
  padding-left: 35px;
  counter-increment: section;
  line-height: 1.5;
}
@media screen and (max-width: 800px) {
  .header-moto li {
    width: 100%;
    padding-left: 0;
  }
}

.header-moto li:before {
  display: none;
  content: counter(section);
  position: absolute;
  top: -8px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #AAA;
  text-align: center;
  line-height: 40px;
  font-size: 2rem;
  color: #CCC;
}

.header-moto b {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  .header-moto b {
    font-size: 1.25rem;
  }
  .header-moto {
    top: 20vh;
  }
}
