.reminder {
  display: block;
  position: relative;
  margin-top: 30px;
  text-align: center;
}
.reminder h3 {
  display: inline-block;
  font-size: 0.9rem;
  vertical-align: middle;
  text-transform: uppercase;
}
.notice {
  display: block;
  font-size: 0.85rem;
  color: #BBB;
}
.onoffswitch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin-right: 10px;
  user-select: none;
  vertical-align: middle;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 29px;
  padding: 0;
  line-height: 29px;
  border: 2px solid #E3E3E3;
  border-radius: 29px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 29px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  border: 2px solid #E3E3E3;
  border-radius: 29px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
