body {background-color: #fff; margin: 0px; padding: 0px; font-family: arial; font-size: 16px; line-height: 22px;}
table, td, td {padding: 0; margin: 0;}

.clear {clear: both;}
.hardclear {clear: both;}
a img {border: none;}
a {color: #c00; text-decoration: underline;}
a:hover {color: #000; text-decoration: underline;}
.pseudolink {color: #090; border-bottom: 1px dashed #090; cursor: pointer;}
.pseudolink:hover {background-color: #cfc;}
h1 {font-size: 32px; line-height: 32px; color: #c00; font-style: italic; margin: 34px 0 0 0; position: relative;}
h1 .ski {position: absolute; top: 23px; left: 189px; color: #a00; font-size: 12px; font-style: italic; font-weight: normal;}

.topLogo {background-image: url('/images/run0101h.png'); width: 902px; height: 74px; margin: 0px 0 20px 32px;}
.topBanner {border-bottom: 1px solid #999; margin: 0 0 20px 0; width: 1000px; height: 50px;}

.main .todayPhraseSpacer {width: 100%; height: 130px;}
.main .todayPhraseLeft {margin: 0px 0px 0px 40px; width: 502px; line-height: 24px; position: absolute; left: 0px; top: 0px;}
.main .todayPhraseRight {margin: 0px 40px 0 0px; width: 400px; line-height: 24px; position: absolute; right: 0px; top: 0px;}

.main .languageBlock {position: absolute; right: 40px; top: 14px; letter-spacing: 4px;}
.main .languageBlock #rus {padding: 9px 11px 7px 13px;}
.main .languageBlock #eng {padding: 9px 11px 7px 13px;}
.main .languageBlock .active {background-color: #ececec; color: #000; font-weight: bold;}
.main .languageBlock .passive {background-color: #fff; color: #c00; text-decoration: underline; cursor: pointer;}

.main .topBlock {margin: 0 40px 0 40px; width: 902px; line-height: 24px;}
.main .topBlock p {text-align: left;}
.main .topBlock .groupRunsBlock {width: 700px; margin: 0 0 30px 30px;}
.main .topBlock .groupRunsBlock .groupRuns {margin: 0px; padding: 0px; list-style-type: none;}
.main .topBlock .groupRunsBlock .groupRuns li {}
.main .topBlock .groupRunsBlock .groupRuns li + li {margin-top: 8px;}

.main {margin: 20px 0 40px 0; position: relative; width: 982px;}
.main .left {margin: 0px 20px 0 60px; width: 580px; float: left;}

.main #youTube {display: none;}
.main .strongText {font-weight: bold; padding: 0 0 2px 0;}

.main .backToTheFuture {position: relative; left: -18px; margin: 35px 0 0 0;}
.main .backToTheFuture + h1 {margin: 10px 0 0 0;}
.main .mainForm {background-color: #ececec; padding: 50px; position: relative; border-radius: 4px; font-size: 20px;}
.main .mainForm .form {position: relative;}
.main .mainForm .form .surname,
.main .mainForm .form .name,
.main .mainForm .form .sex,
.main .mainForm .form .email,
.main .mainForm .form .distance,
.main .mainForm .form .city,
.main .mainForm .form .country,
.main .mainForm .form .shoes,
.main .mainForm .form .location,
.main .mainForm .form .group,
.main .mainForm .form .letter
 {margin-bottom: 15px;}

.main .mainForm .form .surname .value input {width: 400px; padding: 10px; font-size: 20px;}
.main .mainForm .form .name .value input {width: 400px; padding: 10px; font-size: 20px;}
.main .mainForm .form .email .value input {width: 400px; padding: 10px; font-size: 20px;}
.main .mainForm .form .sex .value label {margin: 0 0 5px 0; display: block;}
.main .mainForm .form .distance .value input {width: 100px; padding: 10px; font-size: 20px;}
.main .mainForm .form .shoes .value select {width: 150px; padding: 10px; font-size: 20px;}
.main .mainForm .form .country .value input {width: 300px;}
.main .mainForm .form .city .value input {width: 300px;}
.main .mainForm .form .group .value select {width: 400px; padding: 30px; margin-top: 11px; font-size: 20px;}

.main .mainForm .form .location {}
.main .mainForm .form .letter #charsLeft {color: #000;}
.main .mainForm .form .heading {padding: 0px 10px 40px 10px; font-weight: bold; font-size: 24px;}

.main .mainForm .form #notifications {margin-left: 194px;padding: 0px 0 0 0; background-color: #faa; margin-bottom: 30px;}
.main .mainForm .form #notifications div {padding: 8px 10px; display: none; background-color: #faa; color: #000; font-size: 16px;}
.main .mainForm .form #notifications div + div {padding-top: 0px;}

.main .mainForm .form .submit {margin: 10px 0 0 105px;}
.main .mainForm .form .submit .comment {margin-left: 26px;}
.main .mainForm .form #submitButton {
  outline: none;
  border: 0 none;
  background-color: #48BFE0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  width: 450px;
  padding: 11px 0 12px 0;
  text-align: center;
  cursor: pointer;
  background: #70c6ff;
  background-image: -webkit-linear-gradient(top, #70c6ff, #3c82ab);
  background-image: -moz-linear-gradient(top, #70c6ff, #3c82ab);
  background-image: -ms-linear-gradient(top, #70c6ff, #3c82ab);
  background-image: -o-linear-gradient(top, #70c6ff, #3c82ab);
  background-image: linear-gradient(to bottom, #70c6ff, #3c82ab);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #ffffff;
  margin-left: -5px;
  text-decoration: none;
}

.main .mainForm .form #submitButton:hover {
  background: #71c8ed;
  background-image: -webkit-linear-gradient(top, #71c8ed, #2461a3);
  background-image: -moz-linear-gradient(top, #71c8ed, #2461a3);
  background-image: -ms-linear-gradient(top, #71c8ed, #2461a3);
  background-image: -o-linear-gradient(top, #71c8ed, #2461a3);
  background-image: linear-gradient(to bottom, #71c8ed, #2461a3);
  text-decoration: none;
}

.main .mainForm .form #submitButton:active {
  background: #000;
  text-decoration: none;
}



.main .mainForm .form .key {float: left; width: 175px; padding: 10px;}
.main .mainForm .form .value {float: left; width: 600px;  margin: 0 0 6px 0; }
.main .mainForm .form .value input,
.main .mainForm .form .value select {font-family: arial; font-size: 20px; padding: 10px;}
.main .mainForm .form .value select optgroup {}
.main .mainForm .form .value select option {line-height: 22px;}
.main .mainForm .form .value .hint {margin-left: 10px; font-size: 12px; line-height: 16px; color: #999;}
.main .mainForm .form .letter .value textarea {font-size: 20px; padding: 20px; width: 350px; line-height: 36px;}

.main .faqSwitcher {font-size: 12px;}

.main .faq {margin: 20px 60px 0 0; display: none;}
.main .faq .q {font-weight: bold; padding: 0 0 0px 0; font-size: 14px; line-height: 20px;}
.main .faq .a {padding: 0 0 32px 0; font-size: 14px; line-height: 20px;}

.main .statistics td {padding: 0 0 6px 0;}
.main .statistics span {font-size: 12px;}
.main .statistics .city {width: 180px;}
.main .statistics .key {width: 120px;}
.main .statistics .sum {width: 80px;}
.main .statistics .count {width: 80px;}
.main .statistics .average {}




.main .right {margin: 0 0px 0 0; width: 300px; float: left;}
.main .right .languageSwitcher {display: block; margin: 0 0 0px 0; text-decoration: none;}
.main .right .languageSwitcher img {margin: 0 5px 0 0;}
.main .right .languageSwitcher span {text-decoration: underline; font-size: 12px; position: relative; top: -2px;}
.main .right .logo {position: relative; left: -66px;}

.main .right .smallBanner {font-size: 12px; line-height: 18px; margin: 30px 0 30px 0;}
.main .right .smallBanner .heading {font-weight: bold; font-size: 16px; padding: 0 0 6px 0;}
.main .right .smallBanner div {padding: 0 0 9px 0;}
.main .right .comment {font-size: 12px; line-height: 18px;}

.main .right .summary {font-size: 14px; line-height: 20px; margin-top: 18px;}

.list {padding: 40px 40px 40px 60px; margin: 0 0 0 0; background: url(/images/border-top.gif) top left no-repeat;}
.admin {width: 2400px;}
.list .heading {margin: 0 0 12px 0; font-weight: bold;}
.list .text {margin: 0 0 0px 0;}
.list .pulse {margin: 30px 0 0 0;}
.list .pulse .text {width: 500px; margin-left: 100px;}
.list .pulse .author {width: 500px; margin-left: 100px; text-align: right; font-style: italic;}
.list .comment {font-size: 12px; line-height: 18px; padding: 30px 0 0 0;}

.photos {padding: 0px 40px 40px 60px; margin: 0 0 0 0;}
.photos img {margin-bottom: 20px;}
.photos2012 img {margin-bottom: 0px !important;}

.results {position: relative; left: -60px;}

.results td {padding-bottom: 7px; vertical-align: top;}

.results .number {text-align: right; padding-right: 10px; font-size: 11px; width: 45px;}
.results .runner {padding-right: 15px; width: 220px;}
.results .km {text-align: right; font-weight: bold; width: 50px;}
.results .km span {font-weight: normal; font-size: 12px;}
.results .activity {font-size: 12px; font-style: italic; padding: 0 15px 0 3px;}
.results .activity div {position: relative; top: 2px;}
.results .shoes {width: 100px; padding-right: 15px;}
.results .country {padding-right: 15px; font-size: 16px;}
.results .city {padding-right: 15px; font-size: 16px;}
.results .cityContainer {width: 150px; height: 22px; overflow: hidden;}
.results .groupContainer {width: 150px; height: 22px; overflow: hidden;}
.results .groupHidden {display: none;}
.results .groupVisible {display: inline;}

.results .comment {font-style: italic; font-size: 11px; padding-top: 3px; line-height: 16px;}
.results .delete {padding: 0 30px 0 30px;}
.results .delete img {cursor: pointer;}
.results .id {font-size: 12px; padding-right: 15px; font-family: arial; color: #999;}
.results .email {font-size: 12px; padding-right: 15px; font-family: arial; color: #666;}
.results .ip {font-size: 12px; padding-right: 15px;  font-family: arial; color: #666;}
.results .sessionHash {font-size: 12px; padding-right: 15px;  font-family: arial; color: #666;}
.results .creationDate {font-size: 12px;  font-family: arial; color: #666;}

.main .right .archive {padding: 0px; font-size: 12px; margin: 0px 0 20px 0; list-style-type: none;}

.footer {font-size: 12px; line-height: 18px; width: 900px; margin: 0 0 0 0; padding: 18px 40px 40px 60px; background: url(/images/border-bottom.gif) top no-repeat;}
.footer .andrushka {float: left; width: 200px;}
.footer .dwcLogo {float: left; width: 93px; position: relative; top: 2px;}
.footer .partners {float: left; width: 600px;}
.footer .partners .visium {position: relative; top: 4px;}
.footer .partners ul {margin: 0 0 0 0; padding: 0 0 0 2em;}
.footer .partners ul li {margin: 0 0 0 0; padding: 0 0 0 0;}

.skiArchive {padding-top: 20px;}

.collaboration {margin: 20px 0 0 0; font-size: 14px; line-height: 20px;}
.collaboration .big {font-size: 16px; font-weight: bold;}
.infoSponsors {margin: 20px 0 0 0;}
.supportUs {font-size: 12px; line-height: 16px; margin: 3px 0 0 0;}

.photo2012 h2 {margin: 1em 0 0.5em 0;}
.photo2012 h3 {margin: 1.5em 0 0.3em 0;}

#infoSites {display: block;}
#infoSitesToggle {color: #c00; border-bottom: 1px dashed; cursor: pointer;}

.aboutHeader {text-align: left; font-size: 26px; font-weight: bold; line-height: 40px; padding: 30px 0 0 0; margin: 0;}
.aboutText {text-align: left; font-size: 18px; line-height: 28px; width: 600px; padding: 0px 0 10px 0; margin: 0;}

.aboutText li {padding: 0 0 14px 0;}
