extends index.pug

block pageHead
  h1  1 января 2008 года
  p
    | 204 бегуна пробежали 2461 километр.

block list
  table.results
    tr
      td.number 1
      td.runner Кулагин Андрей
      td.km
        | 11
        span.km1km км
      td.place Химки
    tr
      td.number 2
      td.runner Абдыев Юрий
      td.km 13
      td.place Люберцы-Москва
    tr
      td.number 3
      td.runner Нестеров Василий
      td.km 7
      td.place Калининград
    tr
      td.number 4
      td.runner Ашмановичюс  Алексей
      td.km 7
      td.place Калининград
    tr
      td.number 5
      td.runner Осипов Владимир
      td.km 7
      td.place Калининград
    tr
      td.number 6
      td.runner Лозунько  Леонид
      td.km 10
      td.place Калининград
    tr
      td.number 7
      td.runner Суворова Ирина
      td.km 7
      td.place НьюЙорк-Полночь
    tr
      td.number 8
      td.runner Гуслистов Саша
      td.km 7
      td.place НьюЙорк-Полночь
    tr
      td.number 9
      td.runner Мялик Сергей
      td.km 7
      td.place НьюЙорк-Полночь
    tr
      td.number 10
      td.runner Лешин Андрей
      td.km 7
      td.place НьюЙорк-Полночь
    tr
      td.number 11
      td.runner Wind Jay
      td.km 5
      td.place Alexandria-VA-USA
    tr
      td.number 12
      td.runner Зонов Олег
      td.km 10
      td.place Трёхгорный
    tr
      td.number 13
      td.runner Пантелеев Павел
      td.km 15
      td.place Трехгорный
    tr
      td.number 14
      td.runner Бурдов Михаил
      td.km 18
      td.place Москва (Центр)
    tr
      td.number 15
      td.runner Дрогин Владимир
      td.km 12
      td.place Железногорск Красноя
    tr
      td.number 16
      td.runner Бутор Виктор
      td.km 12
      td.place Железногорск Красноя
    tr
      td.number 17
      td.runner Дудырева Татьяна
      td.km 3
      td.place Железногорск Красноя
    tr
      td.number 18
      td.runner Дудырев Юрий
      td.km 3
      td.place Железногорск Красноя
    tr
      td.number 19
      td.runner Астанина Марина
      td.km 3
      td.place Железногорск Красноя
    tr
      td.number 20
      td.runner Майорова Ирина
      td.km 3
      td.place Железногорск Красноя
    tr
      td.number 21
      td.runner Борисов Павел
      td.km 11
      td.place Новосибирск
    tr
      td.number 22
      td.runner Пояркова Мария
      td.km 3
      td.place Саратов
    tr
      td.number 23
      td.runner Коберник Дмитрий
      td.km 12
      td.place Санкт-Петербург
    tr
      td.number 24
      td.runner Литовченко Василий
      td.km 11
      td.place Железногорск Красноя
    tr
      td.number 25
      td.runner Фертельмейстер Лев
      td.km 17
      td.place Москва(Вороб. горы)
    tr
      td.number 26
      td.runner дудич  игорь
      td.km 10
      td.place санкт петербург
    tr
      td.number 27
      td.runner Богданова Любовь
      td.km 9
      td.place санкт петербург
    tr
      td.number 28
      td.runner Сластенников Юрий
      td.km 12
      td.place Сергиев Посад Мос.об
    tr
      td.number 29
      td.runner Богуславский Михаил
      td.km 5
      td.place
    tr
      td.number 30
      td.runner Батанина  Ирина
      td.km 5
      td.place
    tr
      td.number 31
      td.runner Коновалова  Мария
      td.km 14
      td.place Иркутск
    tr
      td.number 32
      td.runner Коновалов Юрий (старший)
      td.km 6
      td.place Иркутск
    tr
      td.number 33
      td.runner Коновалов Юрий (младший)
      td.km 6
      td.place Иркутск
    tr
      td.number 34
      td.runner Коновалов Алексей
      td.km 16
      td.place Иркутск
    tr
      td.number 35
      td.runner Минаев  Юрий
      td.km 12
      td.place Измайлово
    tr
      td.number 36
      td.runner Гаврилов Дмитрий
      td.km 16
      td.place Иркутск
    tr
      td.number 37
      td.runner Зуева Светлана
      td.km 12
      td.place Иркутск
    tr
      td.number 38
      td.runner Чернышева Катерина
      td.km 12
      td.place Иркутск
    tr
      td.number 39
      td.runner Родионова Рита
      td.km 12
      td.place Иркутск
    tr
      td.number 40
      td.runner Лукашевич Андрей
      td.km 13
      td.place Королев, трасса "КМ"
    tr
      td.number 41
      td.runner Пензюх Игорь
      td.km 5
      td.place Сергиев Посад Мос.об
    tr
      td.number 42
      td.runner Колпаков Анатолий
      td.km 5
      td.place Москва-Жулебино
    tr
      td.number 43
      td.runner Егоркин Денис
      td.km 12
      td.place д. Абрамовка
    tr
      td.number 44
      td.runner   Пикулик Алексей
      td.km 12
      td.place Санкт-Петербург
    tr
      td.number 45
      td.runner Шерстюк Юлия
      td.km 5
      td.place Питер
    tr
      td.number 46
      td.runner Постников Владимир
      td.km 25
      td.place Нижний Новгород
    tr
      td.number 47
      td.runner Суворова Ирина
      td.km 6
      td.place Нижний Новгород
    tr
      td.number 48
      td.runner Проценко Алексей
      td.km 12
      td.place Москва (Ясенево)
    tr
      td.number 49
      td.runner Прозоровский Никита
      td.km 3
      td.place Москва (Битца)
    tr
      td.number 50
      td.runner Казаков Филипп
      td.km 6
      td.place Москва (Битца)
    tr
      td.number 51
      td.runner Zviedris Normund
      td.km 26
      td.place Riga
    tr
      td.number 52
      td.runner Казаков Евгений
      td.km 6
      td.place Москва (Битца)
    tr
      td.number 53
      td.runner Борисов Артур
      td.km 14
      td.place Москва
    tr
      td.number 54
      td.runner Герасимов Олег
      td.km 9
      td.place Москва
    tr
      td.number 55
      td.runner Раков Игорь
      td.km 14
      td.place Сорочинск
    tr
      td.number 56
      td.runner Ļitvinovs Jurijs
      td.km 10
      td.place Jaunolaine
    tr
      td.number 57
      td.runner Егоркин Виктор
      td.km 12
      td.place д. Абрамовка
    tr
      td.number 58
      td.runner Matisons Aigars
      td.km 8
      td.place Piltene
    tr
      td.number 59
      td.runner Гинина Ольга
      td.km 10
      td.place Санкт-Петербург, Ю-З
    tr
      td.number 60
      td.runner Ковалев Евгений
      td.km 15
      td.place Кирово-Чепецк
    tr
      td.number 61
      td.runner Бауков Валерий
      td.km 20
      td.place Москва, Воробьевы г.
    tr
      td.number 62
      td.runner Иваньков Артур
      td.km 3
      td.place по улицам города
    tr
      td.number 63
      td.runner Виноградов  Юрий
      td.km 12
      td.place Гатчина
    tr
      td.number 64
      td.runner Туманов михаил
      td.km 20
      td.place Шатура.Моск. область
    tr
      td.number 65
      td.runner Лазарев Михаил
      td.km 8
      td.place Тула
    tr
      td.number 66
      td.runner Щукин Александр
      td.km 7
      td.place г. Пермь
    tr
      td.number 67
      td.runner Бондаренко  Владимир
      td.km 21
      td.place Самара
    tr
      td.number 68
      td.runner Боровский Владимир
      td.km 11
      td.place Украина, Харьков
    tr
      td.number 69
      td.runner НЕСТЕРОВ ЛЕОНИД
      td.km 24
      td.place санкт-петербург
    tr
      td.number 70
      td.runner шилов андрей
      td.km 24
      td.place санкт-петербург
    tr
      td.number 71
      td.runner Федотов Алексей
      td.km 20
      td.place
    tr
      td.number 72
      td.runner Боровенко  Андрей
      td.km 10
      td.place Пенза
    tr
      td.number 73
      td.runner Родионов Евгений
      td.km 30
      td.place Санкт-Петербург
    tr
      td.number 74
      td.runner Лапин Сергей
      td.km 21
      td.place Санкт-Петербург
    tr
      td.number 75
      td.runner Ананьина Елена
      td.km 13
      td.place Новосибирск
    tr
      td.number 76
      td.runner Минеев Дмитрий
      td.km 14
      td.place
    tr
      td.number 77
      td.runner захаров андрей
      td.km 10
      td.place омск
    tr
      td.number 78
      td.runner Мичурина Ольга
      td.km 11
      td.place Санкт-Петербург
    tr
      td.number 79
      td.runner Агапов Евгений
      td.km 16
      td.place Санкт-Петербург
    tr
      td.number 80
      td.runner Моргунов Николай
      td.km 12
      td.place Бескудниковский р-н
    tr
      td.number 81
      td.runner Хренов Вадим
      td.km 13
      td.place г. Ступино, М.О.
    tr
      td.number 82
      td.runner Титова  Татьяна
      td.km 22
      td.place Гейнсвилл (США)
    tr
      td.number 83
      td.runner Митчелл Мишель
      td.km 13
      td.place
    tr
      td.number 84
      td.runner DEGRO ROLANDS
      td.km 25
      td.place LATVIJA, JĒKABPILS
    tr
      td.number 85
      td.runner Балакирев Владимир
      td.km 11
      td.place Москва
    tr
      td.number 86
      td.runner Молодчинин Андрей
      td.km 15
      td.place г. Москва, Лефортово
    tr
      td.number 87
      td.runner Тарасов Александр
      td.km 9
      td.place Ногинский р-он
    tr
      td.number 88
      td.runner Шубников Артем
      td.km 1
      td.place новосибирск
    tr
      td.number 89
      td.runner Nurgalieva Olesya
      td.km 20
      td.place Kislovodsk
    tr
      td.number 90
      td.runner Nurgalieva Elena
      td.km 20
      td.place Kislovodsk
    tr
      td.number 91
      td.runner Потапова  Мария
      td.km 20
      td.place Санкт-Петербург
    tr
      td.number 92
      td.runner Pavlovs Valerijs
      td.km 15
      td.place Rīga
    tr
      td.number 93
      td.runner Arseņikovs Jānis
      td.km 14
      td.place RIGA
    tr
      td.number 94
      td.runner Мазов Александр
      td.km 15
      td.place Москва
    tr
      td.number 95
      td.runner Иванов Валерий
      td.km 20
      td.place Псков
    tr
      td.number 96
      td.runner Roga Sindija
      td.km 4
      td.place Riga
    tr
      td.number 97
      td.runner Колпаков Андрей
      td.km 20
      td.place Пронь
    tr
      td.number 98
      td.runner Antra Roga
      td.km 3
      td.place Riga
    tr
      td.number 99
      td.runner Gorba Denis
      td.km 5
      td.place Riga
    tr
      td.number 100
      td.runner  dudels andris
      td.km 15
      td.place latvija daugavpils
    tr
      td.number 101
      td.runner Zariņš Zigurds
      td.km 6
      td.place Rīga
    tr
      td.number 102
      td.runner Бардушкина Вера
      td.km 7
      td.place Зеленоград
    tr
      td.number 103
      td.runner Белов  Александр
      td.km 30
      td.place Тихвин
    tr
      td.number 104
      td.runner Сидоров Геннадий
      td.km 20
      td.place Тихвин
    tr
      td.number 105
      td.runner Заботин  Сергей
      td.km 17
      td.place Тихвин
    tr
      td.number 106
      td.runner Liepina Anita
      td.km 15
      td.place tukums
    tr
      td.number 107
      td.runner Малышев Евгений
      td.km 12
      td.place Печоры
    tr
      td.number 108
      td.runner račuka baiba
      td.km 13
      td.place tukums
    tr
      td.number 109
      td.runner ignate modra
      td.km 15
      td.place tukums
    tr
      td.number 110
      td.runner Zariņš Kārlis
      td.km 10
      td.place Rīga
    tr
      td.number 111
      td.runner Михайлова Анна
      td.km 3
      td.place Москва
    tr
      td.number 112
      td.runner Lemese Monika
      td.km 5
      td.place Riga
    tr
      td.number 113
      td.runner Дианов Юрий
      td.km 10
      td.place Петергоф, СПб
    tr
      td.number 114
      td.runner Гальцова Лена
      td.km 20
      td.place Пересвет Мос.обл
    tr
      td.number 115
      td.runner Баранов Сергей
      td.km 15
      td.place Пересвет Мос.обл.
    tr
      td.number 116
      td.runner Лукьянов Виталий
      td.km 16
      td.place Лосиный остров
    tr
      td.number 117
      td.runner Чиндаров Дмитрий
      td.km 8
      td.place Клайпеда, Литва
    tr
      td.number 118
      td.runner Абдыев Юрий
      td.km 7
      td.place Люберцы
    tr
      td.number 119
      td.runner Петрова Ирина
      td.km 6
      td.place Пересвет Мос.обл.
    tr
      td.number 120
      td.runner Ульянов Илья
      td.km 25
      td.place Москва СЗАО
    tr
      td.number 121
      td.runner Кастроне Антонино
      td.km 5
      td.place Копенгагин, Дания
    tr
      td.number 122
      td.runner Ананченко Александр
      td.km 14
      td.place Коломенское
    tr
      td.number 123
      td.runner Соколов  Владимир
      td.km 7
      td.place Воткинск
    tr
      td.number 124
      td.runner Мерзляков Сергей
      td.km 10
      td.place Зеленоград
    tr
      td.number 125
      td.runner Носков Олег
      td.km 1
      td.place Сергиев Посад Мос.об
    tr
      td.number 126
      td.runner Zariņš Kristaps
      td.km 8
      td.place Rīga
    tr
      td.number 127
      td.runner Фурлетов Андрей
      td.km 13
      td.place Пронь
    tr
      td.number 128
      td.runner Метелкин Владимир
      td.km 24
      td.place Москва(Строгино)
    tr
      td.number 129
      td.runner Климковский Андрей
      td.km 28
      td.place Москва
    tr
      td.number 130
      td.runner Гюппенен Мария
      td.km 6
      td.place Санкт-Петербург
    tr
      td.number 131
      td.runner Бондарев Константин
      td.km 21
      td.place Энергодар (Украина)
    tr
      td.number 132
      td.runner Седин Андрей
      td.km 34
      td.place Москва
    tr
      td.number 133
      td.runner Чернов Сергей
      td.km 10
      td.place Калининград
    tr
      td.number 134
      td.runner Элконин Александр
      td.km 10
      td.place Австрия(Сан-Антон)
    tr
      td.number 135
      td.runner Соколова Алёнка
      td.km 16
      td.place Москва
    tr
      td.number 136
      td.runner Романова Зоя
      td.km 4
      td.place Гатчина
    tr
      td.number 137
      td.runner Радаев  Владимир
      td.km 21
      td.place Гатчина
    tr
      td.number 138
      td.runner Васильев Дмитрий
      td.km 10
      td.place Гатчина
    tr
      td.number 139
      td.runner Мишин Константин
      td.km 5
      td.place Гатчина
    tr
      td.number 140
      td.runner Zhdanov Viktor
      td.km 20
      td.place Gainesville (USA)
    tr
      td.number 141
      td.runner Sultanova-Zhdanova Firaya
      td.km 20
      td.place Gainesville (USA)
    tr
      td.number 142
      td.runner Zhdanov Semen
      td.km 2
      td.place Gainesville (USA)
    tr
      td.number 143
      td.runner Родионов Виктор
      td.km 15
      td.place
    tr
      td.number 144
      td.runner Лобачева Елена
      td.km 7
      td.place г. Гатчина Лен обл
    tr
      td.number 145
      td.runner Богомазова  Александра
      td.km 6
      td.place Москва-Тропарево
    tr
      td.number 146
      td.runner Прокофьева Валентина
      td.km 10
      td.place г. Гатчина Лен обл
    tr
      td.number 147
      td.runner Барченков Михаил
      td.km 11
      td.place С-Петербург
    tr
      td.number 148
      td.runner Сидоров Олег
      td.km 26
      td.place Пронь
    tr
      td.number 149
      td.runner Бурангулова Рамиля
      td.km 12
      td.place Гейнсвилл (США)
    tr
      td.number 150
      td.runner Позднякова Татьяна
      td.km 1
      td.place Гейнсвилл (США)
    tr
      td.number 151
      td.runner Баранушкина Ирина
      td.km 8
      td.place Москва
    tr
      td.number 152
      td.runner Михайлова Маргарита
      td.km 5
      td.place Калининград
    tr
      td.number 153
      td.runner Тыртышный Михаил
      td.km 15
      td.place Таллинн, Пирита
    tr
      td.number 154
      td.runner Жуков Данила
      td.km 15
      td.place СПб
    tr
      td.number 155
      td.runner Ланцова Мария
      td.km 10
      td.place Москва
    tr
      td.number 156
      td.runner Давлятов Александр
      td.km 12
      td.place Санкт-Петербург, Ю-З
    tr
      td.number 157
      td.runner Крыжановский Сергей
      td.km 22
      td.place Нижний Новгород
    tr
      td.number 158
      td.runner Бутцева Светлана
      td.km 6
      td.place Нижний Новгород
    tr
      td.number 159
      td.runner Бурдов Алексей
      td.km 22
      td.place Москва
    tr
      td.number 160
      td.runner Королёв Александр
      td.km 22
      td.place Ижевск
    tr
      td.number 161
      td.runner Сорокин Сергей(старший)
      td.km 14
      td.place Зеленоград
    tr
      td.number 162
      td.runner Сорокин Сергей(младший)
      td.km 24
      td.place Зеленоград
    tr
      td.number 163
      td.runner Сорокина Людмила
      td.km 10
      td.place Зеленоград
    tr
      td.number 164
      td.runner Харитонов Дмитрий
      td.km 10
      td.place
    tr
      td.number 165
      td.runner Lisitsin Sergei
      td.km 8
      td.place Gomel
    tr
      td.number 166
      td.runner Яновский Владимир
      td.km 41
      td.place Даугавпилс
    tr
      td.number 167
      td.runner Алимов Роман
      td.km 13
      td.place Москва (Измайлово)
    tr
      td.number 168
      td.runner Скачков Дмитрий
      td.km 24
      td.place Москва
    tr
      td.number 169
      td.runner Суворова Ирина
      td.km 6
      td.place НьюЙорк-ЦентрПарк-
    tr
      td.number 170
      td.runner Гуслистов Саша
      td.km 6
      td.place НьюЙорк-ЦентрПарк
    tr
      td.number 171
      td.runner Мялик Сергей
      td.km 6
      td.place НьюЙорк-ЦентрПарк
    tr
      td.number 172
      td.runner бекерова елена
      td.km 12
      td.place омск
    tr
      td.number 173
      td.runner Серегин Дмитрий
      td.km 5
      td.place Латвия , Рига
    tr
      td.number 174
      td.runner NameChanger Илья
      td.km 14
      td.place Новосибирск, Академ
    tr
      td.number 175
      td.runner Барсукова  Наталья
      td.km 15
      td.place г.Березники
    tr
      td.number 176
      td.runner Подгорных Сергей
      td.km 3
      td.place Екатеринбург
    tr
      td.number 177
      td.runner Доманчук Саня
      td.km 10
      td.place Украина,Цюрупинск
    tr
      td.number 178
      td.runner Мигель  Анна
      td.km 6
      td.place Украина, Каховка
    tr
      td.number 179
      td.runner Щербаков Денис
      td.km 10
      td.place Украина,Цюрупинск
    tr
      td.number 180
      td.runner Иванов Сергей
      td.km 15
      td.place Чебоксары
    tr
      td.number 181
      td.runner Канашин Андрей
      td.km 6
      td.place Зеленоград
    tr
      td.number 182
      td.runner Абейлегесси Элван
      td.km 15
      td.place Турция
    tr
      td.number 183
      td.runner Рундквист Александр
      td.km 6
      td.place Екатеринбург
    tr
      td.number 184
      td.runner Воробьев Максим
      td.km 10
      td.place Пущино Мос.обл.
    tr
      td.number 185
      td.runner Стрельцова Ульяна
      td.km 1
      td.place Калининград
    tr
      td.number 186
      td.runner Астафьева Анна
      td.km 7
      td.place Октябрьский, Шангалы
    tr
      td.number 187
      td.runner Сучков Андрей
      td.km 9
      td.place Гатчина
    tr
      td.number 188
      td.runner Юровский  Платон
      td.km 7
      td.place Новокосино
    tr
      td.number 189
      td.runner Ерин Виталий
      td.km 15
      td.place
    tr
      td.number 190
      td.runner Жаткина Надежда
      td.km 6
      td.place Санкт-Петербург
    tr
      td.number 191
      td.runner Любжин Антон
      td.km 24
      td.place Москва (Строгино)
    tr
      td.number 192
      td.runner Трунова Ольга
      td.km 8
      td.place Царицыно
    tr
      td.number 193
      td.runner Доронин Сергей
      td.km 20
      td.place Алушта
    tr
      td.number 194
      td.runner Гинин Вячеслав
      td.km 16
      td.place Санкт-Петербург, Ю-З
    tr
      td.number 195
      td.runner Храмов Сергей
      td.km 13
      td.place Коломна
    tr
      td.number 196
      td.runner Schubert Thomas
      td.km 24
      td.place Москва (Строгино)
    tr
      td.number 197
      td.runner Никишкина Светлана
      td.km 8
      td.place Зеленоград
    tr
      td.number 198
      td.runner Никишкин Александр
      td.km 8
      td.place Зеленоград
    tr
      td.number 199
      td.runner Шатайлов Владимир
      td.km 14
      td.place Днепропетровск
    tr
      td.number 200
      td.runner Корсун Владислав
      td.km 5
      td.place Богдановка
    tr
      td.number 201
      td.runner Котляров Александр
      td.km 5
      td.place Астрахань
    tr
      td.number 202
      td.runner Котлярова Валентина
      td.km 5
      td.place Астрахань
    tr
      td.number 203
      td.runner Котляров Владимир
      td.km 5
      td.place Астрахань
    tr
      td.number 204
      td.runner Васютин Владимир
      td.km 15
      td.place Энергодар
