extends index.pug

block pageHead
  h1  1 января 2009 года
  p
    | 256 человек пробежали 3191 километр

block list
  table.results
    tr
      td.number 1
      td.runner Таранченко Александр
      td.km 15
      td.place Казахстан, Павлодар
    tr
      td.number 2
      td.runner Силин Алексей
      td.km 10
      td.place Россия, Пермь
    tr
      td.number 3
      td.runner Виноградов Михаил
      td.km 15
      td.place Россия, Барнаул
    tr
      td.number 4
      td.runner Виноградова Галина
      td.km 15
      td.place Россия, Барнаул
    tr
      td.number 5
      td.runner Борисов Артур (Art)
      td.km 11
      td.place Россия, Москва
    tr
      td.number 6
      td.runner мухамедьянов азамат
      td.km 2
      td.place россия, уфа
    tr
      td.number 7
      td.runner Крюков Олег
      td.km 12
      td.place Россия, Конаково
    tr
      td.number 8
      td.runner Аринкин Александр
      td.km 12
      td.place Россия, Благовещенск
    tr
      td.number 9
      td.runner Аринкин Евгений
      td.km 12
      td.place Россия, Благовещенск
    tr
      td.number 10
      td.runner Проценко Алексей
      td.km 20
      td.place Россия, Москва
    tr
      td.number 11
      td.runner Сахибгареев Рушан
      td.km 10
      td.place Россия, Уфа
    tr
      td.number 12
      td.runner Смирнова Анна
      td.km 13
      td.place Россия, Магнитогорск
    tr
      td.number 13
      td.runner Биелок  Екатерина
      td.km 9
      td.place Нидерланды, Роозендаал
    tr
      td.number 14
      td.runner Фазлеев  Тахир
      td.km 10
      td.place Россия, Набережные Челны
    tr
      td.number 15
      td.runner Смирнов Алексей
      td.km 12
      td.place Россия, Москва
    tr
      td.number 16
      td.runner Бурдов  Михаил
      td.km 11
      td.place Россия, Санкт-Петербург
    tr
      td.number 17
      td.runner Абдыев Юрий
      td.km 11
      td.place Россия, Люберцы
    tr
      td.number 18
      td.runner Кузьмин Владимир
      td.km 1
      td.place Россия, Москва
    tr
      td.number 19
      td.runner Егоркин  Денис
      td.km 24
      td.place Россия, Абрамовка
    tr
      td.number 20
      td.runner печалин дмитрий
      td.km 8
      td.place россия, южноуральск
    tr
      td.number 21
      td.runner Егоркин Виктор
      td.km 24
      td.place Россия, Абрамовка
    tr
      td.number 22
      td.runner Шустров Волшебник
      td.km 20
      td.place Россия, Устьяново
    tr
      td.number 23
      td.runner Кувичко Иван
      td.km 10
      td.place , Цаплино
    tr
      td.number 24
      td.runner Короткевич Павел
      td.km 15
      td.place Россия, Ярославль
    tr
      td.number 25
      td.runner Короткевич Павел мл.
      td.km 2
      td.place Россия, Ярославль
    tr
      td.number 26
      td.runner Смуров  Михаил
      td.km 5
      td.place Россия, Иваново
    tr
      td.number 27
      td.runner шмидт елена
      td.km 3
      td.place россия, москва
    tr
      td.number 28
      td.runner Ignate Modra
      td.km 11
      td.place Latvija, Tukums
    tr
      td.number 29
      td.runner Грушницкий Александр
      td.km 5
      td.place Россия, Иваново
    tr
      td.number 30
      td.runner Коробов Дмитрий
      td.km 34
      td.place Россия, Москва
    tr
      td.number 31
      td.runner Шатайлов Владимир
      td.km 15
      td.place Россия, Москва
    tr
      td.number 32
      td.runner Slastennikov Yuriy
      td.km 14
      td.place Israel, Netania
    tr
      td.number 33
      td.runner Егоров Михаил
      td.km 6
      td.place РФ, Москва
    tr
      td.number 34
      td.runner Ковалев  Аркадий
      td.km 22
      td.place Россия, Череповец
    tr
      td.number 35
      td.runner Романов Владимир
      td.km 15
      td.place Россия, Омск
    tr
      td.number 36
      td.runner Сорокин ст. сергей
      td.km 14
      td.place Россия, зеленоград
    tr
      td.number 37
      td.runner Сорокин мл. Сергей
      td.km 20
      td.place Россия, Зеленоград
    tr
      td.number 38
      td.runner Сорокина людмила
      td.km 8
      td.place Россия, Зеленоград
    tr
      td.number 39
      td.runner Казаков Филипп (Finar.кг)
      td.km 5
      td.place Россия, Москва (Тропарево)
    tr
      td.number 40
      td.runner Казаков Евгений (taurus)
      td.km 8
      td.place Россия, Москва (Тропарево)
    tr
      td.number 41
      td.runner Сокур Дмитрий
      td.km 15
      td.place Россия, Калининград
    tr
      td.number 42
      td.runner Лукашевич Андрей (А-Р)
      td.km 13
      td.place Россия, Королев
    tr
      td.number 43
      td.runner Ромодин  Михаил
      td.km 14
      td.place Россия, Ульяновск
    tr
      td.number 44
      td.runner Чугунов Николай
      td.km 14
      td.place Россия, Ульяновск
    tr
      td.number 45
      td.runner Фертельмейстер  Лев
      td.km 18
      td.place Россия, Москва(Вороб. горы)
    tr
      td.number 46
      td.runner Грибанов Александр
      td.km 12
      td.place Россия, Раменское, МО
    tr
      td.number 47
      td.runner Богданова Любовь
      td.km 5
      td.place Россия, Санкт Петербург
    tr
      td.number 48
      td.runner Ананьина Елена
      td.km 6
      td.place Россия, Новосибирск
    tr
      td.number 49
      td.runner Дудич Россия
      td.km 20
      td.place Россия, Санкт-Петербург
    tr
      td.number 50
      td.runner Манторова Наталья
      td.km 6
      td.place Россия, Новосибирск
    tr
      td.number 51
      td.runner сахибгареев  руслан
      td.km 8
      td.place россия, уфа
    tr
      td.number 52
      td.runner Стукаленко Ярослав  Ярослав
      td.km 15
      td.place Украина, Киев
    tr
      td.number 53
      td.runner Чевычалов Дмитрий
      td.km 8
      td.place Россия, Жигулёвск
    tr
      td.number 54
      td.runner Васильев Александр
      td.km 8
      td.place Россия, Жигулёвск
    tr
      td.number 55
      td.runner Ерохин Дмитрий
      td.km 11
      td.place Россия, Москва
    tr
      td.number 56
      td.runner (al_al)Александров  Александр
      td.km 10
      td.place Россия, Москва
    tr
      td.number 57
      td.runner Печалина  Валентина
      td.km 12
      td.place Россия, Южноуральск
    tr
      td.number 58
      td.runner Печалин Дмитрий
      td.km 4
      td.place Россия, Южноуральск
    tr
      td.number 59
      td.runner Скрыпник Вячеслав
      td.km 9
      td.place Россия, Санкт-Петербург
    tr
      td.number 60
      td.runner Гапонов  Станислав
      td.km 15
      td.place Россия, Москва
    tr
      td.number 61
      td.runner Орфанидис Николаос
      td.km 10
      td.place Греция, Драма
    tr
      td.number 62
      td.runner Шарков Вадим
      td.km 12
      td.place Россия, Хабаровск
    tr
      td.number 63
      td.runner Matisons Aigars
      td.km 8
      td.place Latvia, Piltene
    tr
      td.number 64
      td.runner Neumerzhitskiy Vasiliy
      td.km 12
      td.place Irleland, Cahir
    tr
      td.number 65
      td.runner Молодчинин Андрей
      td.km 20
      td.place Россия, Москва
    tr
      td.number 66
      td.runner Лазарев Михаил
      td.km 5
      td.place Россия, Тула
    tr
      td.number 67
      td.runner Гинин Вячеслав
      td.km 32
      td.place Россия, Санкт-Петербург
    tr
      td.number 68
      td.runner Рябова  Оксана
      td.km 8
      td.place Украина, Чернигов
    tr
      td.number 69
      td.runner Скосырев Юрий
      td.km 7
      td.place Россия, Москва
    tr
      td.number 70
      td.runner Pakarklis Maris
      td.km 15
      td.place Latvia, Riga
    tr
      td.number 71
      td.runner Сенькин Сергей
      td.km 15
      td.place Россия, Ковров
    tr
      td.number 72
      td.runner Суставов Николай
      td.km 15
      td.place Россия, Омск
    tr
      td.number 73
      td.runner Митчелл Мишель
      td.km 14
      td.place Россия, Москва
    tr
      td.number 74
      td.runner Соколов Максим
      td.km 7
      td.place Россия, Череповец
    tr
      td.number 75
      td.runner Сидоров Святослав
      td.km 3
      td.place Россия, Москва
    tr
      td.number 76
      td.runner Заборских Михаил
      td.km 2
      td.place Россия, Челябинск
    tr
      td.number 77
      td.runner Степанов Вадим
      td.km 11
      td.place Россия, Долгопрудный
    tr
      td.number 78
      td.runner Бажин Владимир
      td.km 12
      td.place Нигерия, Икот Абаси
    tr
      td.number 79
      td.runner НЕСТЕРОВ ЛЕОНИД
      td.km 23
      td.place РОССИЯ, САНКТ-ПЕТЕРБУРГ
    tr
      td.number 80
      td.runner Касилов Павел
      td.km 6
      td.place Россия, Сафоново
    tr
      td.number 81
      td.runner Лукьянов Виталий
      td.km 28
      td.place Россия, Москва
    tr
      td.number 82
      td.runner Касилова Екатерина
      td.km 6
      td.place Россия, Сафоново
    tr
      td.number 83
      td.runner Корупаев Юрий
      td.km 7
      td.place Россия, Москва
    tr
      td.number 84
      td.runner Панин Геннадий
      td.km 20
      td.place Россия, Наб Челны
    tr
      td.number 85
      td.runner Стихно Кирилл
      td.km 6
      td.place Россия, Сафоново
    tr
      td.number 86
      td.runner Туманов Михаил
      td.km 20
      td.place РОССИЯ, ШАТУРА
    tr
      td.number 87
      td.runner Ульянов Илья
      td.km 8
      td.place Россия, Москва (Коломенское)
    tr
      td.number 88
      td.runner Туманова Мария
      td.km 8
      td.place россия, шатура
    tr
      td.number 89
      td.runner Новосельцева Татьяна
      td.km 12
      td.place россия, Омск
    tr
      td.number 90
      td.runner Новосельцев  Андрей
      td.km 12
      td.place россия, Омск
    tr
      td.number 91
      td.runner Апалько Алексей
      td.km 8
      td.place Россия, Королев
    tr
      td.number 92
      td.runner Коберник Дмитрий
      td.km 28
      td.place Россия, САНКТ-ПЕТЕРБУРГ
    tr
      td.number 93
      td.runner dudels andris
      td.km 18
      td.place Latvija, Daugavpils
    tr
      td.number 94
      td.runner      Arsenikovs      Janis
      td.km 13
      td.place       Latvia,       Riga
    tr
      td.number 95
      td.runner Жданов Виктор
      td.km 15
      td.place USA, gainesville
    tr
      td.number 96
      td.runner Оваль Коля
      td.km 13
      td.place Россия мать, Свердловск
    tr
      td.number 97
      td.runner  Василий
      td.km 14
      td.place Россия, Свердловск
    tr
      td.number 98
      td.runner Климковский Андрей
      td.km 25
      td.place Россия, Москва: Чертаново-Царицыно-Чертаново
    tr
      td.number 99
      td.runner Марков Александр
      td.km 24
      td.place Латвия, Даугавпилс
    tr
      td.number 100
      td.runner Герасимов Олег
      td.km 8
      td.place Россия, Москва (Алтуфьево)
    tr
      td.number 101
      td.runner Бауков Валерий
      td.km 12
      td.place РФ, Москва, Тропарево
    tr
      td.number 102
      td.runner Шершаков Игорь
      td.km 8
      td.place Россия, Арзамас
    tr
      td.number 103
      td.runner Lemese Monika
      td.km 10
      td.place Latvija, Riga
    tr
      td.number 104
      td.runner Gorba Deniss
      td.km 10
      td.place Latvija, Riga
    tr
      td.number 105
      td.runner Шекер Михаил
      td.km 20
      td.place Россия, Удомля
    tr
      td.number 106
      td.runner Hulanicka Irina
      td.km 22
      td.place Polska, Szklarska Poręba
    tr
      td.number 107
      td.runner Hulanicka Andrzej
      td.km 5
      td.place Polska, Warszawa
    tr
      td.number 108
      td.runner Zielczyńska Helena
      td.km 12
      td.place Polska, Szklarska Poręba
    tr
      td.number 109
      td.runner Zielczyński Mieczysław
      td.km 12
      td.place Polska, Szklarska Poręba
    tr
      td.number 110
      td.runner Wróblewska Bogna
      td.km 10
      td.place Polska, Szklarska Poręba
    tr
      td.number 111
      td.runner Wróblewski Tadeusz
      td.km 11
      td.place Polska, Szklarska Poręba
    tr
      td.number 112
      td.runner Wróblewski Mateusz
      td.km 7
      td.place Polska, Szklarska Poręba
    tr
      td.number 113
      td.runner Зайцев Толик
      td.km 6
      td.place Белоруссия, Минск
    tr
      td.number 114
      td.runner Расстригин Александр
      td.km 11
      td.place Россия, Волгоград
    tr
      td.number 115
      td.runner Расстригин Леонид
      td.km 11
      td.place Россия, Волгоград
    tr
      td.number 116
      td.runner Родионов Илья
      td.km 13
      td.place Россия, Санкт-Петербург, Ломоносов
    tr
      td.number 117
      td.runner radaev vladimir
      td.km 10
      td.place portugal, lissabon
    tr
      td.number 118
      td.runner Ивченко Юлия
      td.km 14
      td.place Россия, Москва (Царицино)
    tr
      td.number 119
      td.runner Остелис Айварс
      td.km 10
      td.place Латвия, Айзпуте
    tr
      td.number 120
      td.runner Бурдов Алексей
      td.km 30
      td.place Россия, Москва (Южное Бутово)
    tr
      td.number 121
      td.runner Shimizu Yasuhiko
      td.km 26
      td.place Japan, Moscow
    tr
      td.number 122
      td.runner Петров Игорь
      td.km 7
      td.place Россия, Ростов-на-Дону
    tr
      td.number 123
      td.runner Жаткина Надя
      td.km 6
      td.place Россия, Санкт-Петербург
    tr
      td.number 124
      td.runner Пикулик Алексей
      td.km 12
      td.place Россия, СПб
    tr
      td.number 125
      td.runner Федотов Василий
      td.km 4
      td.place Россия, Москва
    tr
      td.number 126
      td.runner Сидоров Олег
      td.km 24
      td.place Россия, Москва
    tr
      td.number 127
      td.runner Поливаный Валерий
      td.km 8
      td.place Украина, Харьков
    tr
      td.number 128
      td.runner Зотов Евгений
      td.km 6
      td.place Россия, Пенза
    tr
      td.number 129
      td.runner Солодовников Андрей
      td.km 8
      td.place Украина, Запорожье
    tr
      td.number 130
      td.runner Жданов Иван
      td.km 34
      td.place Россия, Москва
    tr
      td.number 131
      td.runner Лышенко  Александр
      td.km 11
      td.place Украина, Первомайский
    tr
      td.number 132
      td.runner Мардибан Алексей
      td.km 11
      td.place Украина, П
    tr
      td.number 133
      td.runner Горб Валентина
      td.km 8
      td.place Украина, Первомайский
    tr
      td.number 134
      td.runner Постников Владимир
      td.km 14
      td.place Россия, Нижний Новгород
    tr
      td.number 135
      td.runner Суворова Ирина
      td.km 13
      td.place Россия, Нижний Новгород
    tr
      td.number 136
      td.runner Алимов Олег
      td.km 14
      td.place Россия, Нижний Новгород
    tr
      td.number 137
      td.runner Ермаков Евгений
      td.km 14
      td.place Россия, Нижний Новгород
    tr
      td.number 138
      td.runner Терентьев Геннадий
      td.km 6
      td.place Россия, Нижний Новгород
    tr
      td.number 139
      td.runner Иевлев Виктор
      td.km 16
      td.place Россия, Нижний Новгород
    tr
      td.number 140
      td.runner Гинина Ольга
      td.km 4
      td.place Россия, Санкт-Петербург
    tr
      td.number 141
      td.runner Калашников Федор
      td.km 20
      td.place Россия, Нижний Новгород
    tr
      td.number 142
      td.runner Седин Андрей
      td.km 26
      td.place Россия, Москва
    tr
      td.number 143
      td.runner Кузнецов Юрий
      td.km 20
      td.place Россия, Нижний Новгород
    tr
      td.number 144
      td.runner Балакирев Владимир
      td.km 11
      td.place РФ, Москва
    tr
      td.number 145
      td.runner Чернов Сергей
      td.km 10
      td.place Россия, Калининград
    tr
      td.number 146
      td.runner Григорьев Олег
      td.km 11
      td.place Россия, Саратов
    tr
      td.number 147
      td.runner Трунова Ольга
      td.km 16
      td.place Россия, Москва
    tr
      td.number 148
      td.runner Музыка Александр
      td.km 1
      td.place Россия, Москва
    tr
      td.number 149
      td.runner Султанова-Жданова Фирая
      td.km 8
      td.place США, Гейнсвилл
    tr
      td.number 150
      td.runner Ханипова  Камила
      td.km 24
      td.place РОССИЯ,
    tr
      td.number 151
      td.runner Пашнин  Иван
      td.km 12
      td.place Россия, Жуковский
    tr
      td.number 152
      td.runner Аксюта Александр
      td.km 13
      td.place Россия, Мирный Архангельской области
    tr
      td.number 153
      td.runner Бабчин Олег
      td.km 10
      td.place Россия, Санкт-Петербург
    tr
      td.number 154
      td.runner Федоров Владимир
      td.km 20
      td.place Россия, Москва
    tr
      td.number 155
      td.runner Бондарев Константин
      td.km 16
      td.place Украина, Энергодар
    tr
      td.number 156
      td.runner Васютин Владимир
      td.km 11
      td.place Украина, Энергодар
    tr
      td.number 157
      td.runner Трошин Владимир
      td.km 11
      td.place Украина, Энергодар
    tr
      td.number 158
      td.runner Теличко Дмитрий
      td.km 11
      td.place Украина, Энергодар
    tr
      td.number 159
      td.runner Морев Юрий
      td.km 11
      td.place Украина, Энергодар
    tr
      td.number 160
      td.runner Колпаков Андрей
      td.km 24
      td.place Россия, Москва, С-З
    tr
      td.number 161
      td.runner Скачков Дмитрий
      td.km 23
      td.place Россия, Москва, С-З
    tr
      td.number 162
      td.runner Метелкин Владимир
      td.km 23
      td.place Россия, Москва, С-З
    tr
      td.number 163
      td.runner Беглова Юлия
      td.km 23
      td.place Россия, Москва, С-З
    tr
      td.number 164
      td.runner Норкин Виктор
      td.km 20
      td.place Россия, Москва, С-З
    tr
      td.number 165
      td.runner Овчинникова Надежда
      td.km 20
      td.place Россия, Москва, С-З
    tr
      td.number 166
      td.runner Токарева Ольга
      td.km 20
      td.place Россия, Москва, С-З
    tr
      td.number 167
      td.runner Азаревич Александр
      td.km 6
      td.place Латвия, Рига
    tr
      td.number 168
      td.runner Говоров Александр
      td.km 20
      td.place Россия, Ефремов
    tr
      td.number 169
      td.runner Элконин Александр
      td.km 10
      td.place Австрия, Сан-Антон
    tr
      td.number 170
      td.runner Рыкалов  Александр
      td.km 4
      td.place Украина, Луганск
    tr
      td.number 171
      td.runner  Боровский Владимир
      td.km 4
      td.place Украина, Харьков
    tr
      td.number 172
      td.runner Старосельская Юлия
      td.km 7
      td.place Украина, Харьков
    tr
      td.number 173
      td.runner Агапов Артём
      td.km 17
      td.place Россия, Санкт-Петербург
    tr
      td.number 174
      td.runner Богачёв Алексей
      td.km 15
      td.place Россия, Москва
    tr
      td.number 175
      td.runner Ланцова Мария
      td.km 9
      td.place Россия, Москва
    tr
      td.number 176
      td.runner Прозоровский Никита
      td.km 3
      td.place Россия, Москва
    tr
      td.number 177
      td.runner Жуков Данило
      td.km 12
      td.place Россия, Зеленогорск
    tr
      td.number 178
      td.runner Колесников  Валерий
      td.km 10
      td.place Россия, Москва, ЮАО
    tr
      td.number 179
      td.runner Руденко Андрей(rock_n_roller)
      td.km 11
      td.place Россия, Москва(наб.Марьино)
    tr
      td.number 180
      td.runner Бурцев Артур
      td.km 20
      td.place Россия, Санкт-Петербург
    tr
      td.number 181
      td.runner Забара Александр
      td.km 9
      td.place США, Нью-Йорк
    tr
      td.number 182
      td.runner Зиночкин Владимир
      td.km 8
      td.place Россия, Москва
    tr
      td.number 183
      td.runner Крыжановский Сергей
      td.km 10
      td.place Россия, Нижний Новгород
    tr
      td.number 184
      td.runner Никитин Александр
      td.km 10
      td.place Россия, Москва
    tr
      td.number 185
      td.runner Моргунов Николай
      td.km 14
      td.place Россия, Москва
    tr
      td.number 186
      td.runner Моргунова Александра
      td.km 5
      td.place Россия, Москва
    tr
      td.number 187
      td.runner Котляров Александр
      td.km 5
      td.place Россия, Астрахань
    tr
      td.number 188
      td.runner Котлярова Валентина
      td.km 5
      td.place Россия, Астрахань
    tr
      td.number 189
      td.runner Котлярова Надежда
      td.km 4
      td.place Россия, Астрахань
    tr
      td.number 190
      td.runner Баранушкина Ирина
      td.km 9
      td.place Россия, Москва
    tr
      td.number 191
      td.runner Зайдулин Ринат
      td.km 9
      td.place Казахстан, Лисаковск
    tr
      td.number 192
      td.runner Багира Анжелика
      td.km 7
      td.place Россия,
    tr
      td.number 193
      td.runner Львовский Игорь
      td.km 4
      td.place Украина, Харьков
    tr
      td.number 194
      td.runner Царенко  Сергей
      td.km 6
      td.place Россия, Гатчина
    tr
      td.number 195
      td.runner Архипов  Владимир
      td.km 6
      td.place Россия, Краснотурьинск
    tr
      td.number 196
      td.runner КРУТОЙ МЭН
      td.km 10
      td.place РОССИЯ, ПЕРМЬ-ГАЙВА
    tr
      td.number 197
      td.runner КАЛИНИН САНЁК
      td.km 10
      td.place РОССИЯ, ПЕРМЬ-ГАЙВА
    tr
      td.number 198
      td.runner ВАН ДАМ ВЛАДИК
      td.km 3
      td.place РОССИЯ, ПЕРМЬ-ГАЙВА
    tr
      td.number 199
      td.runner Kruze Aivar
      td.km 21
      td.place Latvija, Jurmala
    tr
      td.number 200
      td.runner Veiss Aivars
      td.km 8
      td.place Latvia, Salaspils
    tr
      td.number 201
      td.runner ----- Юрий
      td.km 7
      td.place Украина, Ильичёвск
    tr
      td.number 202
      td.runner Степанов Виталий
      td.km 20
      td.place Россия, Москва
    tr
      td.number 203
      td.runner Guba Juris
      td.km 11
      td.place Latvia, Liepaja
    tr
      td.number 204
      td.runner Сергеев  Александр
      td.km 20
      td.place Латвия, Рига
    tr
      td.number 205
      td.runner Евсеева Надежда
      td.km 20
      td.place Латвия, Рига
    tr
      td.number 206
      td.runner Рульков Илья
      td.km 18
      td.place Россия, Новосибирск, Академгородок
    tr
      td.number 207
      td.runner Сергеев Николай
      td.km 7
      td.place Россия, Новосибирск
    tr
      td.number 208
      td.runner Высоцкий Никита
      td.km 10
      td.place Россия, Челябинск
    tr
      td.number 209
      td.runner Радионов Евгений
      td.km 30
      td.place Россия, Санкт-Петербург
    tr
      td.number 210
      td.runner Варакин Андрей
      td.km 7
      td.place Россия, Омск
    tr
      td.number 211
      td.runner Панов  Евгений
      td.km 11
      td.place Укрина, Первомайский р-н, п.Беляевка
    tr
      td.number 212
      td.runner Соколова Наталья
      td.km 12
      td.place Россия, Санкт-Петербург
    tr
      td.number 213
      td.runner Соколов Алексей
      td.km 12
      td.place Россия, Санкт-Петербург
    tr
      td.number 214
      td.runner Трипутень Дмитрий
      td.km 7
      td.place Россия, Санкт-Петербург
    tr
      td.number 215
      td.runner масалев  владислав
      td.km 14
      td.place россия, С-Петербург
    tr
      td.number 216
      td.runner Доронин Сергей
      td.km 20
      td.place Россия, Москва (временно горки Алушты)
    tr
      td.number 217
      td.runner Синюшкин Дмитрий
      td.km 7
      td.place Россия, Электрогорск
    tr
      td.number 218
      td.runner Брагин Александр
      td.km 5
      td.place Венесуэла, Барселона
    tr
      td.number 219
      td.runner Cowee David
      td.km 11
      td.place USA, Victor, NY
    tr
      td.number 220
      td.runner Navagrudskas Vladas
      td.km 10
      td.place Litva, Vilnius
    tr
      td.number 221
      td.runner Васильев Евгений
      td.km 12
      td.place Россия, Санкт-Петербург
    tr
      td.number 222
      td.runner Щукин Александр
      td.km 7
      td.place Россия, Звездный
    tr
      td.number 223
      td.runner Лосин Игорь
      td.km 5
      td.place Россия, Татарстан, Казань
    tr
      td.number 224
      td.runner Ласма Озолиня
      td.km 10
      td.place Латвия, Рига
    tr
      td.number 225
      td.runner Тимофеев Сергей
      td.km 7
      td.place Россия, Омск
    tr
      td.number 226
      td.runner Kangro Sendijs
      td.km 7
      td.place Latvija, Smiltene
    tr
      td.number 227
      td.runner Bredikis Juris
      td.km 7
      td.place Latvia, Riga
    tr
      td.number 228
      td.runner udchachon julie
      td.km 20
      td.place usa, north pole, ak
    tr
      td.number 229
      td.runner Мангушев Булат
      td.km 7
      td.place Россия, Казань
    tr
      td.number 230
      td.runner KARTOCIUS ALGIMANTAS
      td.km 35
      td.place LIETUVA, VILNIUS
    tr
      td.number 231
      td.runner Karlsons Juris
      td.km 6
      td.place Latvija, Tukums
    tr
      td.number 232
      td.runner Šulgina Līna
      td.km 3
      td.place Latvija, Rīga
    tr
      td.number 233
      td.runner Соловьев Алексей
      td.km 12
      td.place Россия, Ульяновск
    tr
      td.number 234
      td.runner Korsakas Emilis
      td.km 13
      td.place Lithuania, Vilnius
    tr
      td.number 235
      td.runner Симонова Вера
      td.km 14
      td.place Россия, Москва
    tr
      td.number 236
      td.runner Milkamanavičius Romas
      td.km 10
      td.place Lietuva, Vilnius
    tr
      td.number 237
      td.runner Schaferhund von Bart
      td.km 10
      td.place Lietuva, Vilnius
    tr
      td.number 238
      td.runner Волков Николай
      td.km 10
      td.place Россия, Чита
    tr
      td.number 239
      td.runner Царикевич Евгений
      td.km 10
      td.place Россия, Санкт-Петербург
    tr
      td.number 240
      td.runner Белов Александр
      td.km 10
      td.place Германия, Дюссельдорф
    tr
      td.number 241
      td.runner drei dzintars
      td.km 38
      td.place Latvia, Riga
    tr
      td.number 242
      td.runner выговский вадим
      td.km 15
      td.place Белоруссия, Гродно
    tr
      td.number 243
      td.runner Валиев Марат
      td.km 7
      td.place Россия, Волжск
    tr
      td.number 244
      td.runner Фаленков Александр
      td.km 10
      td.place Россия, п.Смолино
    tr
      td.number 245
      td.runner Самойлов Артем
      td.km 28
      td.place Россия, Тобольск
    tr
      td.number 246
      td.runner Сидоров Геннадий
      td.km 21
      td.place Россия, Тихвин
    tr
      td.number 247
      td.runner Мурзинцев Андрей
      td.km 20
      td.place Россия, Новосибирск
    tr
      td.number 248
      td.runner Соловьёв  Максим
      td.km 8
      td.place Россия, Асбест
    tr
      td.number 249
      td.runner Пчеляков Сергей
      td.km 15
      td.place РФ, Москва
    tr
      td.number 250
      td.runner Greivule Ingrida
      td.km 11
      td.place Latvia, Cesis
    tr
      td.number 251
      td.runner Рябушкин Денис
      td.km 14
      td.place Россия, Гжель
    tr
      td.number 252
      td.runner Никишкина Светлана
      td.km 8
      td.place Россия, Зеленоград
    tr
      td.number 253
      td.runner Никишкин Александр
      td.km 8
      td.place Россия, Зеленоград
    tr
      td.number 254
      td.runner Schubert Thomas
      td.km 13
      td.place Deutschland, Sachsen-Anhalt
    tr
      td.number 255
      td.runner Просвиряков Юрий
      td.km 33
      td.place Россия, Кострома
    tr
      td.number 256
      td.runner Щукарева Юлия
      td.km 10
      td.place Россия, Москва
