extends index.pug

block left
  .backToTheFuture
  | ←
  a(href='/') Назад в будущее
  h1  1 января 2012 года
  p
    b 1167
    |  бегунов пробежали
    b 13566
    |  километров.
    br
    b 170
    |  лыжников проехали
    b 2456
    |  километров.
  p
  p
    | Опубликованы
    a(href='/2012/photo/') отчеты, фото и видео с пробежек 1-го января
    | .
  img(src='/static/archive/images/finish-2012-1.jpg')
  p
    | В этом году, в отличие от
    a(href='/2010/') прошлого
    | , был добавлен отдельный
    br
    | лыжный зачет. Лыжникам удалось проехать 2456 километров —
    br
    | всего на 5 километров меньше, чем бегуны пробежали в
    a(href='/2008/') 2008 году
    | ,
    br
    | когда акция была проведена впервые.
  p
    table.statistics
      tr
        td.key
        td.sum(style='font-weight: bold') Бег
        td.count
        td.sum(style='font-weight: bold') Лыжи
        td.count
      tr
        td.key(style='width: 150px;') Мужчины
        td.sum
          | 10399
          span км
        td.count
          | 851
          span чел
        td.sum
          | 1947
          span км
        td.count
          | 124
          span чел
      tr
        td.key Женщины
        td.sum 3167
        td.count 316
        td.sum 509
        td.count 46
  img(src='/static/archive/images/finish-2012-2.jpg')
  p
    | Бегуны из Латвии пробежали почти в 3 раза больше, чем в прошлом году!
    br
    a(href='http://www.noskrien.lv/') VSK Noskrien
    | организовали самую массовую пробежку на 20,12 км
    | и прислали
    a(href='photo/') фото и видео
    | .
  p
    | На Украине и в Беларуси бегуны пробежали в два раза больше, чем раньше.
  p
    table.statistics
      tr
        td.key
        td.sum(style='font-weight: bold') Бег
        td.count
        td.sum(style='font-weight: bold') Лыжи
        td.count
      tr
        td.key(style='width: 150px;') Россия
        td.sum
          | 8276
          span км
        td.count
          | 719
          span чел
        td.sum
          | 2341
          span км
        td.count
          | 158
          span чел
      tr
        td.key Латвия
        td.sum 2311
        td.count 187
        td.sum 20
        td.count 1
      tr
        td.key Украина
        td.sum 1084
        td.count 97
        td.sum
        td.count
      tr
        td.key Беларусь
        td.sum 534
        td.count 52
        td.sum 31
        td.count 5
      tr
        td.key Литва
        td.sum 429
        td.count 28
        td.sum 15
        td.count 1
      tr
        td.key Приднестровье
        td.sum 125
        td.count 10
        td.sum
        td.count
      tr
        td.key США
        td.sum 120
        td.count 11
        td.sum
        td.count
      tr
        td.key Казахстан
        td.sum 106
        td.count 6
        td.sum 12
        td.count 1
      tr
        td.key Эстония
        td.sum 78
        td.count 7
        td.sum 15
        td.count 1
      tr
        td.key Финляндия
        td.sum 67
        td.count 8
        td.sum 22
        td.count 3
      tr
        td.key Израиль
        td.sum 50
        td.count 4
        td.sum
        td.count
      tr
        td.key Великобритания
        td.sum 50
        td.count 4
        td.sum
        td.count
      tr
        td.key Швейцария
        td.sum 42
        td.count 1
        td.sum
        td.count
      tr
        td.key Молдова
        td.sum 39
        td.count 4
        td.sum
        td.count
      tr
        td.key Япония
        td.sum 34
        td.count 2
        td.sum
        td.count
      tr
        td.key Киргизия
        td.sum 31
        td.count 4
        td.sum
        td.count
      tr
        td.key Германия
        td.sum 25
        td.count 2
        td.sum
        td.count
      tr
        td.key Польша
        td.sum 24
        td.count 2
        td.sum
        td.count
      tr
        td.key Австрия
        td.sum 15
        td.count 2
        td.sum
        td.count
      tr
        td.key Китай
        td.sum 12
        td.count 2
        td.sum
        td.count
      tr
        td.key Кипр
        td.sum 12
        td.count 1
        td.sum
        td.count
      tr
        td.key Канада
        td.sum 12
        td.count 1
        td.sum
        td.count
      tr
        td.key Норвегия
        td.sum 11
        td.count 1
        td.sum
        td.count
      tr
        td.key Канада
        td.sum 10
        td.count 1
        td.sum
        td.count
      tr
        td.key Вьетнам
        td.sum 10
        td.count 1
        td.sum
        td.count
      tr
        td.key Франция
        td.sum 10
        td.count 3
        td.sum
        td.count
      tr
        td.key Италия
        td.sum 8
        td.count 1
        td.sum
        td.count
      tr
        td.key Нидерланды
        td.sum 7
        td.count 1
        td.sum
        td.count
      tr
        td.key Сингапур
        td.sum 6
        td.count 1
        td.sum
        td.count
      tr
        td.key Испания
        td.sum 6
        td.count 1
        td.sum
        td.count
      tr
        td.key Узбекистан
        td.sum 6
        td.count 1
        td.sum
        td.count
      tr
        td.key Таиланд
        td.sum 5
        td.count 1
        td.sum
        td.count
      tr
        td.key Абхазия
        td.sum 1
        td.count 1
        td.sum
        td.count
  img(src='/static/archive/images/finish-2012-3.jpg')
  p
    | В зачете городов Москва лишь немного опередила Ригу,
    br
    | а в лыжном зачете так и вовсе уступила первенство Петрозаводску.
  p
    table.statistics
      tr
        td.key
        td.sum(style='font-weight: bold') Бег
        td.count
        td.sum(style='font-weight: bold') Лыжи
        td.count
      tr
        td.key(style='width: 150px;') Москва
        td.sum
          | 1487
          span км
        td.count
          | 122
          span чел
        td.sum
          | 428
          span км
        td.count
          | 30
          span чел
      tr
        td.key Riga
        td.sum 1060
        td.count 86
        td.sum
        td.count
      tr
        td.key Санкт-Петербург
        td.sum 632
        td.count 55
        td.sum
        td.count
      tr
        td.key Омск
        td.sum 348
        td.count 29
        td.sum 17
        td.count 1
      tr
        td.key Смоленск
        td.sum 306
        td.count 7
        td.sum
        td.count
      tr
        td.key Нижний Новгород
        td.sum 285
        td.count 25
        td.sum 192
        td.count 8
      tr
        td.key Белая Церковь
        td.sum 236
        td.count 16
        td.sum
        td.count
      tr
        td.key Петрозаводск
        td.sum 230
        td.count 18
        td.sum 441
        td.count 24
      tr
        td.key Минск
        td.sum 218
        td.count 23
        td.sum 22
        td.count 3
      tr
        td.key Харьков
        td.sum 179
        td.count 20
        td.sum
        td.count
  div(style='width: 480px; overflow: visible;')
    iframe(width='570', height='290', src='http://www.youtube.com/embed/zksZgnIrywI?rel=0', frameborder='0', allowfullscreen='')
  p
    | С бодрым первоянварским утром поздравляет Роман Исаев
    br
    | с друзьями и собакой Робин :-)
  p
    | Спасибо всем, кто бегал, катался, фотографировал, видеографировал
    | и поздравлял. Было хорошо, в следующем году обязательно продолжим!

block right
  img.logo(src='/static/archive/images/logo.png')
  br
  br
  |         А мы уже бегали 1-го января:
  ul.archive
    li
      | В
      a(href='/2011/') 2011 году
      | 805 бегунов пробежали 9177 км
    li
      | В
      a(href='/2010/') 2010 году
      | 607 бегунов пробежали 7141 км
    li
      | В
      a(href='/2009/') 2009 году
      | 256 бегунов пробежали 3191 км
    li
      | В
      a(href='/2008/') 2008 году
      | 204 бегуна пробежали 2461 км
  .infoSponsors
    b Акцию поддержали:
    ul.archive
      li
        a(rel='nofollow', href='http://www.skisport.ru') Журнал «Лыжный спорт»
      li
        a(rel='nofollow', href='http://probeg.org/') ПроБег
      li
        a(rel='nofollow', href='http://sylvia.gatchina.ru/') КЛБ «Сильвия»
      li
        a(title='Беговой клуб IRC', href='http://www.irc-club.ru/') Беговой клуб IRC
      li
        a(rel='nofollow', href='http://www.fun-run.ru/ ') Fun-run
      li
        a(rel='nofollow', href='http://www.42km.ru') 42km.ru
      li
        a(rel='nofollow', href='http://fso.karelia.ru/') Ориентирование в Карелии
      li
        a(rel='nofollow', href='http://www.nastart.org/') На старт!
      li
        a(rel='nofollow', href='http://www.optimaltravel.ru/') OptimalTravel.ru
      li
        a(rel='nofollow', href='http://www.xcsport.ru/') XCSport.ru
      li
        a(rel='nofollow', href='http://www.finar.ru') Finar
      li
        a(rel='nofollow', href='http://www.gornycross.narod.ru/') Горный кросс
      li
        a(rel='nofollow', href='http://klbviktoria.com/') КЛБ «Виктория»
      li
        a(rel='nofollow', href='http://www.facebook.com/group.php?gid=119276374780654&v=wall/') Na, pagauk
      li
        a(rel='nofollow', href='http://www.noskrien.lv/') VSK Noskrien
      li
        a(rel='nofollow', href='http://www.x-race.msk.ru/news.php/') X-Race
      li
        a(rel='nofollow', href='http://tiras-orient.ucoz.net/') Tiras-Orient
      li
        a(rel='nofollow', href='http://www.skriesim.lv/') Skriesim.Lv
      li
        a(rel='nofollow', href='http://oren-orient.narod.ru/') Ориентирование в Оренбурге
      li
        a(rel='nofollow', href='http://www.o-sport30.ru/') Ориентирование в Астрахани
      li
        a(rel='nofollow', href='http://www.rollertown.ru/') Rollertown.ru
      li
        a(rel='nofollow', href='http://www.run4life.ru/') Run 4 Life
