doctype html
html
  head
    title Побегай 1-го января
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(content='Побегай 1-го января - акция в поддержку бега и здорового образа жизни', name='description')
    meta(content='бег новый год', name='keywords')
    link(rel='stylesheet', type='text/css', href='/static/archive/styles/global.css')
  body
    .main
      block main
        .left
          block left
            .backToTheFuture
              | ←
              a(href='/') Назад в будущее
            block pageHead
        .right
          block right
            img.logo(src='/static/archive/images/logo.png')
        .hardclear
    .list
      block list

    .footer
      .partners
        a.translatable(href='/', data-rus='Побегай первого января', data-eng='Run on January First') Побегай первого января
        br
        | © 2007—2017
      .andrushka
        a.translatable(href='/about/', data-rus='О проекте', data-eng='About') О проекте
        script(type='text/javascript').
          (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
          try {
          w.yaCounter23526988 = new Ya.Metrika({id:23526988,
          clickmap:true,
          trackLinks:true});
          } catch(e) { }
          });
          var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
          if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
        noscript
          div
            img(src='//mc.yandex.ru/watch/23526988', style='position:absolute; left:-9999px;', alt='')
      .clear
