.switch {
  position: absolute;
  right: 15px;
  top: 15px;
}
.switchItem {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom: 2px solid transparent;
}
.active {
  position: relative;
  border-bottom-color: #145493;
}
