* {
  box-sizing: border-box;
}
body, h1, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}
img {
  border: 0;
}
h2 {
  margin-bottom: -0.5rem;
  font-size: 1.8rem;
}
p {
  line-height: 1.5;
}
p + p {
  margin-top: 1.5rem;
}
a:hover {
  text-decoration: none;
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.page {
  box-sizing: border-box;
}
.page.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page.inner {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 90px;
  padding-bottom: 30px;
}
.page header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  padding-left: 15px;
  box-sizing: border-box;
  z-index: 5;
  color: #FFF;
}
.page.main header {
  padding-left: 45px;
  padding-top: 15px;
}
@media screen and (max-width: 800px) {
  .page.main header {
    padding-left: 10px;
    background: #000;
  }
}
.page.inner header {
  box-shadow: 0 0 10px #CCC;
  background: rgba(255, 255, 255, 1);
  color: #000;
}
.page header a {
  color: #FFF;
}
.page.inner header a {
  color: #000;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 60px;
  padding-top: 10px;
}
.logo h1 {
  display: inline-block;
  margin-right: 15px;
  font-size: 2rem;
  font-family: serif;
  letter-spacing: -0.1em;
}
:global(.fontLoaded) .logo h1 {
  font-family: 'Lobster';
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .logo h1 {
    font-size: 1.5rem;
  }
}
.likely {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 30px;
  text-align: center;
}
:global(.map-icon) {
  vertical-align: middle;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #FFF;
}
::-webkit-scrollbar-thumb {
  height: 60px;
  background-color: rgba(85, 85, 85, 0.5);
  border-radius: 5px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
:hover::-webkit-scrollbar-track {
  background-color: rgba(85, 85, 85, 0.1);
}
