.activity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}
.field {
  font-size: 3rem;
  margin-bottom: 30px;
}
.field-fio {
  margin-top: 30px;
  border-bottom: 3px solid #313171;
}
.field-location {
  font-size: 2rem;
}
.field-location path {
  fill: #313171;
}
.field-year {
  padding: 5px 10px;
  border-radius: 5px;
  background: #f2f2f2;
  font-size: 2rem;
}
