.base {
  position: relative;
}

.fullscreen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #FFF;
  z-index: 20;
}

.fullBtn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.fullBtn img {
  border: 0;
}
