.activity-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.activity-filter input {
  margin-right: 15px;
  padding: 5px 10px;
  font-size: 1rem;
}

.activity-filter-icon {
  position: relative;
  top: 6px;
  margin-right: 10px;
}
