.preload-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid red;
  border-top-color: #BBB;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;;
}

@keyframes spin {
  0 {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
