.year-picker {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  padding-right: 25px;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
}
.year-picker.theme-white.open,
.year-picker.theme-white ul {
  background-color: rgba(0, 0, 0, 0.95);
}

.year-picker.theme-black.open,
.year-picker.theme-black ul {
  background-color: rgb(255, 255, 255);
}

.year-picker.theme-white,
.year-picker.theme-white ul {
  border-color: #DDD;
}

.year-picker.theme-black,
.year-picker.theme-black ul {
  border-color: #999;
}

.year-picker.open {
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.year-picker.theme-black a {
  color: #000;
}

.year-picker:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px solid transparent;
  border-top-color: #DDD;
}

.year-picker.open:after {
  top: 3px;
  border-top-color: transparent;
  border-bottom-color: #DDD;
}

.year-picker ul {
  position: absolute;
  top: 100%;
  left: -1px;
  box-sizing: border-box;
  width: calc(100% + 2px);
  padding: 5px 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-radius: 0 0 3px 3px;
  display: none;
}

.year-picker.open ul {
  display: block;
}

.year-picker li {
  padding: 4px 10px;
  padding-right: 25px;
}

.selected {
  background: rgba(20, 84, 147, 0.15);
}

.selected a {
  text-decoration: none;
}
