.photoSection {}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {}
.moto {
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
