				<div class="faqSwitcher">
					<span class="pseudolink" id="faqSwitcher">Ответы на вопросы, которые могли возникнуть 
					у вас при заполнении формы</span>
				</div>
				<div class="faq">
					<div class="q">
						Какие виды спорта участвуют?
					</div>
					<div class="a">
						Бег и все остальные циклические виды спорта, измеряемые километрами.
					</div>
					<div class="q">
						Можно ли указать никнейм или кличку?  
					</div>
					<div class="a">
						Нет, нужно вводить настоящие имя и фамилию, как в паспорте. Никнейм можно
						указать в поле «Комментарий».
					</div>
					<div class="q">
						Я бегал вместе с супругой, можно ли наши результаты указать вместе?     
					</div>
					<div class="a">
						Нет, нужно создать две отдельных записи: одну с вашими
						данными, другую с данными вашей супруги.
					</div>
					<div class="q">
						Я бегал дважды в день, можно ли мне занести два результата?   
					</div>
					<div class="a">
						Да, вносите два результата.
					</div>
					<div class="q">
						Что будет, если я введу фальшивую информацию?
					</div>
					<div class="a">
						Мы стараемся проверять все результаты. Явно фальшивую информацию
						удаляем сразу, всю сомнительную уточняем по e-mail.
					</div>
					<div class="q">
						У меня не будет доступа в интернет 1-го января, как мне внести свои данные?
					</div>
					<div class="a">
						Сбор первоянварских километров будет работать только 1 и 2 января. 
						Попросите друзей внести километры за вас, потому что  
						3 января список первоянварских километров 2014 года 
						замораживается, намертво вписывается в беговую историю нашей планеты
						и ни при каких условиях не может изменяться.  
					</div>
					<div class="q">
						Что можно написать в графе «Комментарий»?
					</div>
					<div class="a">
						Можно написать время и темп бега, средний пульс, время начала тренировки,
						и погодные условия. А можно просто передать привет друзьям или
						признаться кому-то в любви! :-)
					</div>
				</div>