				<!--
				<div class="infoSponsors">
          <b>Пробежки 1-го января</b>
				  <ul class="archive"> 
              <li> 
                <a href="http://www.trilife.ru/blogs/25/pobegay-pervogo-yanvarya/">Трилайф, Москва, 12:00</a> 
              </li>
              <li> 
                <a href="http://lk-izmajlovo.ru/newspost/%D0%B0%D0%BD%D0%BE%D0%BD%D1%81-%D0%BF%D0%BE%D0%B1%D0%B5%D0%B3%D0%B0%D0%B9-1-%D1%8F%D0%BD%D0%B2%D0%B0%D1%80%D1%8F-2014/">ЛК Измайлово, Москва, 15:00</a> 
              </li>              
              <li> 
                <a href="http://activizm.ru/promo/run/">Активизм, Москва, 11:00</a> 
              </li>              
			    </ul>			    
			   <!-- 
			   <b>Страницы в Фейсбуке</b>
				  <ul class="archive"> 
              <li> 
                <a href="https://www.facebook.com/events/206609666188586/">Главная</a> 
              </li>
              <li> 
                <a href="https://www.facebook.com/events/705538922810214/">Центр «Темп»</a> 
              </li>
              <li> 
                <a href="https://www.facebook.com/events/395406283925724/">Владивосток</a> 
              </li>              
              <li> 
                <a href="https://www.facebook.com/events/1378643259041499/">Novel</a> 
              </li>              
			    </ul>
			    
			   <b>Страницы Вконтакте</b>
				  <ul class="archive"> 
              <li> 
                <a href="http://vk.com/club1057312/">Самуи</a> 
              </li>
              <li> 
                <a href="http://vk.com/club22593797/">Астрахань</a> 
              </li>              
              <li> 
                <a href="http://vk.com/event63558967">Волгоград</a> 
              </li>              
              <li> 
                <a href="http://vk.com/beg1yanvarya">Дубна</a> 
              </li>
              <li> 
                <a href="http://vk.com/1stjanuaryrun">Everlive.ru</a> 
              </li>              
			    </ul>

			   <span id="infoSitesToggle"><b>Сайты</b></span> <sup>15</sup>
				  <ul class="archive" id="infoSites"> 
              <li> 
                <a href="http://www.trilife.ru/">Трилайф</a> 
              </li>
              <li> 
                <a href="http://www.dwcoaching.ru/">David Warden Coaching</a> 
              </li>
              <li> 
                <a href="http://www.skispeed.ru/blog/novogodnyaya-aktsiya-pobegay-1-ogo-yanvarya/">Skispeed.ru</a> 
              </li>              
              <li> 
                <a href="http://ski76team.ru/акция-побегай-1-го-января/">Ski76 Team</a> 
              </li>              
              <li> 
                <a href="http://parkrunmoscow.ru/">Парковые забеги в Москве</a> 
              </li>    
              <li> 
                <a href="http://42km.ru/news/194/">42km.ru</a> 
              </li>  
              <li> 
                <a href="http://www.everlive.ru/1st-january-run/">Everlive.ru</a> 
              </li>
              <li> 
                <a href="http://www.novel.lt/">Novel</a> 
              </li>                    
              <li> 
                <a href="http://tiras-orient.ucoz.net/news/pobegaj_1_go_janvarja/2013-12-23-869">Тирас-Ориент</a> 
              </li>        
              <li> 
                <a href="http://olimp-ks.at.ua">СК Олимп (Херсон)</a> 
              </li>        
              <li> 
                <a href="http://velokavkaz.ru/phpBB3/viewtopic.php?f=503&t=27250&start=40">Велокавказ.ру</a> 
              </li>        
              <li> 
                <a href="http://www.orienteering.idknet.com/">Бендеры</a> 
              </li>        
              <li> 
                <a href="http://probeg.org/nnrun/">Нижний Новгород</a> 
              </li>        
              <li> 
                <a href="http://probeg.org/">ПроБег</a> 
              </li>        
              <li> 
                <a href="http://runleprarun.ru/">Run, Lepra, Run</a> 
              </li>        
              <li> 
                <a href="http://www.klbviktoria.com">Виктория</a> 
              </li>        
			    </ul>
			    -->
			    
			    

			    <div style="font-size: 12px; line-height: 16px; margin-top: 20px;">
            <!-- -->
			    </div>
          <!--
          <div class="supportUs">Хотите поддержать акцию? Добавьте анонс<br />
          на свой сайт, фейсбук или твиттер :-)</div>       
          -->
        </div>