				<div class="strongText"><span class="pseudolink" id="menVsWomen">Мужчины и женщины</span> — кто больше?</div>
				<div id="youTube">
					<object width="480" height="295"><param name="movie" value="http://www.youtube.com/v/wLyFlDAikac&hl=ru_RU&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/wLyFlDAikac&hl=ru_RU&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="295"></embed></object>
				</div>
				Мужчины — <b>{$menCount} км</b><br />
				Женщины — <b>{$womenCount} км</b><br /><br />    