        <ul class="archive"> 
          <li> 
            <a href="/2017/">2017 год</a>:
              2822 пробежек — 25 262 км
          </li>
          <li> 
            <a href="/2016/">2016 год</a>:
              2539 пробежек — 25 643 км
          </li>
          <li> 
            <a href="/2015/">2015 год</a>:
              2135 пробежек — 23 334 км
          </li>
          <li> 
            <a href="/2014/">2014 год</a>:
              1837 пробежек — 20 037 км
          </li>
          <li> 
            <a href="/2013/">2013 год</a>:
            1364 бегунов — 14 835 км
          </li>
          <li> 
            <a href="/2012/">2012 год</a>: 
            1167 бегунов — 13 566 км
          </li>
          <li> 
            <a href="/2011/">2011 год</a>: 
            805 бегунов — 9177 км
          </li>
          <li> 
            <a href="/2010/">2010 год</a>: 
            607 бегунов — 7141 км
          </li> 
          <li> 
            <a href="/2009/">2009 год</a>: 
            256 бегунов — 3191 км
          </li> 
          <li> 
            <a href="/2008/">2008 год</a>: 
            204 бегуна — 2461 км
          </li>
        </ul>