				<div class="smallBanner">
					<div class="heading"> Спонсор акции: </div>
					<noindex><a rel="nofollow" href="http://maxi-sport.blogspot.com/"><img src="/images/maxisport4.jpg" /></a><br />
						<div>
							Обувь <a href="http://maxi-sport.blogspot.com/search/label/Saucony" rel="nofollow">Saucony</a>
							и <a href="http://maxi-sport.blogspot.com/search/label/AVIA" rel="nofollow">Avia</a>
							известна среди бегунов и&nbsp;триатлетов всего мира, но до сих пор редко 
							встречается в России.
						</div>
						<div>
							<a rel="nofollow" href="http://maxi-sport.blogspot.com/">MaxiSPORT</a> может не только
							похвастаться широким ассортиментом этих кроссовок, 
							но и доставить их в любую точку Земли.
						</div>
					</noindex>
				</div> 