<table class="results">
	<tr> 
					<td class="number">2936</td> 
					<td class="runner"> Молохова Диана</td> 
					<td class="km">5 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2935</td> 
					<td class="runner"> Колыванова Анна</td> 
					<td class="km">5 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2934</td> 
					<td class="runner"> Поивилов Н.А.</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2933</td> 
					<td class="runner"> Цветков П.Н.</td> 
					<td class="km">5 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2932</td> 
					<td class="runner"> Цветков Н.Ю.</td> 
					<td class="km">5 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2931</td> 
					<td class="runner"> Цветков Т.Н.</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2930</td> 
					<td class="runner"> Костюченко И.В.</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2929</td> 
					<td class="runner"> Кулиненкова Надежда</td> 
					<td class="km">2 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2928</td> 
					<td class="runner"> Попов Геннадий</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2927</td> 
					<td class="runner"> Анисимова Анастасия</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2926</td> 
					<td class="runner"> Якубчук Александр</td> 
					<td class="km">10 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2925</td> 
					<td class="runner"> Федорова Анастасия</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2924</td> 
					<td class="runner"> Екимов Иван</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2923</td> 
					<td class="runner"> Шулимова А.А.</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2922</td> 
					<td class="runner"> Григорьева М.Е.</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2921</td> 
					<td class="runner"> Каев Александр</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2920</td> 
					<td class="runner"> Смирнов Максим</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2919</td> 
					<td class="runner"> Андреева Наталия</td> 
					<td class="km">5 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2918</td> 
					<td class="runner"> Семенова Любовь</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2917</td> 
					<td class="runner"> Тиханов Виталий</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2916</td> 
					<td class="runner"> Тиханова Светлана</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2915</td> 
					<td class="runner"> Захарова Татьяна</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2914</td> 
					<td class="runner"> Кузьмин Александр</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2913</td> 
					<td class="runner"> Кузьмин Сергей</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2912</td> 
					<td class="runner"> Кутлиев Азамат</td> 
					<td class="km">20 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2911</td> 
					<td class="runner"> Пикалов Алексей</td> 
					<td class="km">16 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2910</td> 
					<td class="runner"> Недосвитий Илья</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2909</td> 
					<td class="runner"> Козырева Татьяна</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2908</td> 
					<td class="runner"> Куртсеитов А.Л.</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2907</td> 
					<td class="runner"> Белых Федор</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2906</td> 
					<td class="runner"> Белых Валерия</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2905</td> 
					<td class="runner"> Абросимов Василий</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2904</td> 
					<td class="runner"> Васильев Дмитрий</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2903</td> 
					<td class="runner"> Воронова Анна</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2902</td> 
					<td class="runner"> Яковлев Дмитрий</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2901</td> 
					<td class="runner"> Кириленко Андрей</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2900</td> 
					<td class="runner"> Потемкин Александр</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2899</td> 
					<td class="runner"> Коханов Сергей</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2898</td> 
					<td class="runner"> Печеркина Анастасия</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2897</td> 
					<td class="runner"> Глущенко Нелли</td> 
					<td class="km">5 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2896</td> 
					<td class="runner"> Глущенко Екатерина</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2895</td> 
					<td class="runner"> Глущенко Сергей</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2894</td> 
					<td class="runner"> Исхаков Юрий</td> 
					<td class="km">16 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2893</td> 
					<td class="runner"> Кулиненков Дмитрий</td> 
					<td class="km">8 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2892</td> 
					<td class="runner"> Делявер Куртсентов</td> 
					<td class="km">4 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2891</td> 
					<td class="runner"> Петров Александр Михайлович</td> 
					<td class="km">12 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2890</td> 
					<td class="runner"> Пикалов Алексей</td> 
					<td class="km">24 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2889</td> 
					<td class="runner"> Шмелёв Сергей</td> 
					<td class="km">21 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2888</td> 
					<td class="runner"> Громов Виктор</td> 
					<td class="km">22 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr><tr> 
					<td class="number">2887</td> 
					<td class="runner"> Казаков Анатолий</td> 
					<td class="km">26 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">Россия</td> 
					<td class="city">
  					<span class="cityContainer">Псков</span><span class="groupContainer groupVisible">, <a href="https://vk.com/run01012017_pskov" target="_blank">ЦЗО «Снегопад»</span>
  				</td> 
					<td class="comment"></td> 
				</tr>
</table>