<table class="results">
	<tr> 
					<td class="number">1</td> 
					<td class="runner"> Alexey Sazonov</td> 
					<td class="km">78 <span>км</span></td> 
          <td class="activity"><div>бегом</div></td> 
					<td class="country">asdasdas</td> 
					<td class="city">
  					<span class="cityContainer">Moscow</span><span class="groupContainer groupHidden">, <a href="" target="_blank">Нет в списке</span>
  				</td> 
					<td class="comment"></td> 
				</tr>
</table>