.select-box {
  position: relative;
  width: 150px;
  margin-right: 15px;
  border: 1px solid #AAA;
  cursor: pointer;
}
.select-box::before {
  content: '';
  position: absolute;
  right: 8px;
  top: 8px;
  width: 7px;
  height: 7px;
  border: 0 solid #333;
  border-top-width: 1px;
  border-left-width: 1px;
  transform: rotate(-135deg);
}
.select-box.active::before {
  display: none;
}

.select-value {
  position: relative;
  margin-right: 20px;
  padding: 7px 0;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.select-box.active .select-value {
  display: none;
}

.select-input {
  display: none;
}
.select-box.active .select-input {
  display: block;
}

.select-input input {
  width: 100%;
  padding: 5px 10px;
}

.select-list-container {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 10px 0;
  background: #FFF;
  box-shadow: 0 3px 6px #AAA;
}
.select-box.active .select-list-container {
  display: block;
}

.select-list {
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
}

.select-item {
  padding: 5px 10px;
  cursor: pointer;
}
.select-item:hover {
  background: #EEE;
}

.reset-button {
  width: 100%;
  padding: 3px 0;
  border: 0;
  font-size: 0.8rem;
  background: none;
  text-align: center;
  text-transform: uppercase;
  color: crimson;
  cursor: pointer;
  outline: 0;
}
