		<div class="footer"> 
		
    
      <!--<div class="dwcLogo">
        <a href="http://www.dwcoaching.ru/triathlon/?utm_source=run0101&utm_medium=text&utm_campaign=dwclogo"><img src="/images/dwc.png" style="width: 83px; height: 54px;" /></a>
			</div>
			<div class="partners">
        <span class="translatable" data-rus="Новогоднее предложение партнера 1 января 2016:" data-eng="Special offers from the general partner">Новогоднее предложение партнера 1 января 2016:</span><br />
        <ul>
          <li>
            <a href="http://www.dwcoaching.ru/triathlon/?utm_source=run0101&utm_medium=text&utm_campaign=coach"><span class="translatable" data-rus="Тренер по триатлону" data-eng="Triathlon coach">Тренер по триатлону</span></a> <span class="translatable" data-rus="со скидкой 25%" data-eng="at a 25% discount">со скидкой 25%</span></a>
          </li>
          <li>
            <a href="http://launch.dwcoaching.ru/?utm_source=run0101&utm_medium=text&utm_campaign=trilaunch"><span class="translatable" data-rus="Курс начинающего триатлета" data-eng="TriLaunch">Курс начинающего триатлета</span></a> <span class="translatable" data-rus="в Москве с 20 января" data-eng="starts in Moscow on January 20th">в Москве с 20 января</span>
          </li>
        </ul>
        <span class="translatable" data-rus="Акцию придумали спортсмены-любители." data-eng="Made by athletes for athletes.">David Warden Coaching — спонсор первого января.</span><br />
        <span class="translatable" data-rus="Сами для себя." data-eng="">.</span>
			</div>-->
			
			<div class="partners">
  		  <a href="/" class="translatable" data-rus="Побегай первого января" data-eng="Run on January First">Побегай первого января</a><br />
  		  © 2007—2018
			</div>
			
			<div class="andrushka">
        <a href="/about/" class="translatable" data-rus="О проекте" data-eng="About">О проекте</a><br />
        
      	<br />
				<!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23526988 = new Ya.Metrika({id:23526988,
                            clickmap:true,
                            trackLinks:true});
                } catch(e) { }
            });
        
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/23526988" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
			</div>
			<div class="clear"> </div>
		</div>