				<tr> 
					<td class="number">{$number}</td> 
					<td class="runner">{$kilometer->surname} {$kilometer->name}</td> 
					<td class="km">{$kilometer->km} <span>км</span></td> 
          <td class="activity"><div>{$activity}</div></td> 
					<td class="country">{$kilometer->country}</td> 
					<td class="city">
  					<span class="cityContainer">{$kilometer->city}</span><span class="groupContainer {$groupVisibility}">, <a href="{$group->url}" target="_blank">{$group->name}</span>
  				</td> 
					<td class="comment">{$kilometer->comment}</td> 
					<td class="delete"><img src="/images/delete.gif" ><input type="hidden" name="id" value="{$kilometer->id}" /></td>					
					<td class="id">{$kilometer->id}</td> 
					<td class="email">{$kilometer->email}</td> 
					<td class="ip">{$kilometer->ip}</td> 
					<td class="sessionHash">{$kilometer->sessionHash}</td> 
					<td class="creationDate">{$kilometer->creationDate}</td>                                    
				</tr>