nav {
  display: inline-block;
  margin-left: 100px;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

.nav-secondary {
  position: absolute;
  right: 70px;
  top: 0;
}

.nav-activity {
  position: absolute;
  left: 300px;
  top: 0;
}

.link {
  display: block;
  height: 70px;
  padding: 5px 15px;
  padding-top: 30px;
}

@media screen and (max-width: 800px) {
  .nav-activity {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    top: 70px;
    background: #FFF;
    border-top: 1px solid #145493;
    border-bottom: 1px solid #145493;
    text-align: center;
  }
  .nav-activity.isOpen {
    display: block;
  }
  .link {
    display: inline-block;
    height: auto;
    padding: 10px 15px;
  }
}

.active {
  position: relative;
  background: rgba(20, 84, 147, 0.03);
  text-decoration: none;
}

.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  line-height: 0;
  background: #145493;
}

.nav-hamburger {
  display: none;
  position: absolute;
  right: 70px;
  top: 15px;
  width: 40px;
  height: 30px;
  background: none;
  border: 0;
  outline: 0;
}
.nav-hamburger:before, .nav-hamburger:after,
.nav-hamburger>span {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  font-size: 0;
  border-radius: 3px;
  background: #000;
  transition: all 0.4s;
}
.nav-hamburger:before {
  top: 0;
}
.nav-hamburger:after {
  bottom: 0;
}
.nav-hamburger>span {
  top: 13px;
}
.nav-hamburger.active>span {
  opacity: 0;
}
.nav-hamburger.active:before {
  top: 15px;
  transform: rotate(135deg);
}
.nav-hamburger.active:after {
  top: 15px;
  transform: rotate(-135deg);
}
@media screen and (max-width: 800px) {
  .nav-hamburger {
    display: block;
  }
}
